[2014-10-22 15:42] moul opened #1 "Document: How to build your own kernel"

[2014-10-22 15:59] #1 closed, assigned to nobody

[2014-10-29 18:10] moul opened #2 "Support AUFS"

[2014-11-12 12:40] #2 closed, assigned to nobody

[2014-12-19 13:46] moul opened #3 "[docker] Remove the dependency on `bc`"

[2014-12-19 16:04] moul opened #4 "[docker] add ccache support"

[2014-12-19 16:05] moul opened #5 "[docker] Support SYSTEM_TRUSTED_KEYRING"
root@90aa0a74e9fb:/usr/src/linux-3.18# ccache make uImage
      CHK     include/config/kernel.release
      CHK     include/generated/uapi/linux/version.h
      CHK     include/generated/utsrelease.h
    make[1]: 'include/generated/mach-types.h' is up to date.
      CALL    scripts/checksyscalls.sh
      CHK     include/generated/compile.h
    kernel/Makefile:133: *** No X.509 certificates found *

[2014-12-19 16:14] #3 closed, assigned to moul

[2014-12-19 17:28] #4 closed, assigned to moul

[2014-12-19 17:55] moul opened #6 "[POSTPONED] Put `ccache` on a tmpfs"
To create a persistent tmpfs, we can try to :
- mount a tmpfs
- rsync the persistent directory to the tmpfs
- docker run with the tmpfs as a volume
- rsync back the tmpfs to the persistent directory

[2014-12-22 16:34] moul opened #7 "Add QEMU testing/debugging documentation"

[2014-12-23 10:24] aimxhaisse opened #8 "create a build.txt file"
- date
- compilation line
- config
- find
- gcc -v
- ...

(jenkins.sh)

[2014-12-23 10:24] aimxhaisse opened #9 "improve dockerfiles rule targets"
Depends on #8

[2014-12-23 16:42] #8 closed, assigned to aimxhaisse

[2014-12-23 16:50] moul opened #10 "Replace `make uinstall`"
`make uinstall` seems to not be reliable across the `3.10` and `3.18`, we should remove it and manually copy the uImage, config, vmlinuz

[2014-12-29 15:32] #7 closed, assigned to moul

[2015-01-01 13:47] moul opened #11 "Add LICENSE"

[2015-01-06 13:06] moul commented on #8
LGTM

[2015-01-08 11:39] #11 closed

[2015-01-08 14:27] moul opened #12 "Add the compute DTS"
- [x] dts file
- [ ] Makefile rules

[2015-01-08 20:17] moul opened #13 "Handle NBD partitions"
- http://lwn.net/Articles/276044/

[2015-01-08 20:18] moul commented on #13
Added nbd.max_parts=8 to `bootcmd`

[code]

[2015-01-08 20:29] moul opened #14 "Add a XEN compatible kernel"
Reading:

- http://ssup2.iptime.org/wiki/Xen_on_Arndale

cc @edouardb @aimxhaisse

[2015-01-08 21:11] moul opened #15 "Handle patches with flavors as for .configs"

[2015-01-08 21:13] moul commented on #14
Related commits :

- 8641ac06dfaa1344531dfb9c80ad9ce47319e65f
- 2bdb860f464d1743d4d7e8fb4627e33b2ac825fd

[2015-01-08 21:15] moul opened #16 "Benchmark the best kernel options for cryptography"

[2015-01-08 21:15] moul commented on #16
Related commits :

- c596c233ae29b4b8da0354da1642184e346d4702

[2015-01-09 10:48] aimxhaisse commented on #13
I think this is OK from the kernel's POV, I'm able to mount a device with several partitions with userland tools (kpartx) in it this way:

    dd if=my_image_with_partitions.img of=/dev/nbd1 bs=1M
    kpartx -a /dev/nbd1
    mount /dev/mapper/nbd1p1 /mnt/p1
    mount /dev/mapper/nbd1p2 /mnt/p2
    # and so one

I haven't tested to create partitions on a /dev/nbd device yet, I guess it's fine.

[2015-01-09 10:50] aimxhaisse commented on #16
Once you have scenarii where you see a difference (I can also try to find them if you need help), I'll add a few benchmarks on benchmec.

[2015-01-09 10:51] aimxhaisse commented on #14
:dancers:

[2015-01-09 10:52] moul commented on #16
Ok, I'll come back to you with a use case, thx

[2015-01-09 10:52] moul commented on #13
Ok good news, so I check the first need "Get it working"

[2015-01-09 16:11] moul opened #17 "Make a 3.14 std kernel"
goals :
- to have dtb for 3.14
- for benchmarking (cc @aimxhaisse)
- for opensuse testing (cc @xeoncore)

todo:
- [x] get a 3.14 kernel-builder
- [x] wait for docker trusted build to finish
- [x] create a .config file
- [x] build
- [x] toggle-back travis checking for this kernel

[2015-01-09 16:13] moul commented on #17
Kernel added on `moul/kernel-builder` (https://github.com/moul/docker-kernel-builder/commit/15f0d23b3fab089057850b4e92102c21c7004d40)

Waiting for Docker trusted build to be finished

[2015-01-13 08:51] aimxhaisse opened #18 "Consider enabling configs to monitor I/Os in 3.2.34"
* CONFIG_TASKSTATS
* CONFIG_TASK_DELAY_ACCT
* CONFIG_TASK_IO_ACCOUNTING

These are already available on the 3.17.

[2015-01-13 09:19] moul commented on #18
You can create a `.config-3.2.34-iodebug`

[2015-01-13 11:14] #18 closed

[2015-01-15 12:58] moul commented on #14
@edouardb what were your test results ? do you have traces/warnings ?

[2015-01-15 12:59] #9 closed

[2015-01-15 22:26] moul commented on #17
The pimouss.dtb isn't built, the sed (made for 3.17+) is failing on 3.14

[code]

---

[code]

---

[code]

[2015-01-16 16:37] moul opened #19 "Add lxc check to Travis"
https://github.com/dotcloud/lxc/blob/master/src/lxc/lxc-checkconfig.in

[2015-01-19 11:37] moul commented on #19
Fixed with b4b603f55643845c6a16b9fd89f464a06cfbec9c

[2015-01-19 11:37] #19 closed

[2015-01-19 11:37] moul commented on #15
Fixed

[2015-01-19 11:37] #15 closed

[2015-01-19 13:37] moul opened #20 "Review the Travis checks"
Look at the "travis_kernel" rule of the `Makefile` (https://github.com/online-labs/kernel-config/blob/master/Makefile#L173-L175)

[2015-01-19 13:38] moul opened #21 "Review the LICENSING of the `dts` file"

[2015-01-20 10:45] moul commented on #20
cc @aimxhaisse

[2015-01-20 12:21] #21 closed

[2015-01-20 14:44] moul commented on #21
:+1:

[2015-01-20 14:44] moul commented on #20
I just changed the config testing structure, now you need to edit this file:

https://github.com/online-labs/kernel-config/blob/master/tools/c1-checkconfig.sh

[2015-01-20 18:28] moul opened #22 "Make the Makefile accept custom kernel-builder docker tag"
Blocking the build of 3.10-mvebu
cc @aimxhaisse

[2015-01-22 13:31] moul opened #23 "Handle 3.x.y kernel versions"
- [ ] use `moul/kernel-builder:stable`
- [ ] add a `git checkout` enter-command

[2015-01-26 10:09] #12 closed

[2015-01-26 10:10] moul opened #24 "Append dtb file to the uImage"

[2015-01-26 10:20] moul commented on #20
I switched again to this script, now you need to update those config files: https://github.com/online-labs/kernel-config/tree/master/tools/configs depending on the kind of kernel you want to check

[2015-01-26 16:27] #23 closed

[2015-01-26 16:33] aimxhaisse opened #25 "Consider disabling CONFIG_MV_XOR"
Looks like there are ongoing issues with this driver for now.

[2015-01-26 16:41] moul commented on #25
:+1:

[2015-01-26 18:14] moul commented on #17
FIxed

[2015-01-26 18:14] #17 closed

[2015-01-27 10:30] #24 closed

[2015-01-27 10:31] moul commented on #22
FIxed

[2015-01-27 10:31] #22 closed

[2015-01-28 08:35] #25 closed

[2015-01-30 11:42] moul opened #26 "Release a 3.2.34 kernel with more modules"

[2015-01-30 11:43] moul commented on #26
[code]

[2015-01-30 12:07] #26 closed

[2015-02-04 14:35] moul opened #27 "Use the moul/kernel-builder:stable-cross-armhf image by default"

[2015-02-04 14:35] moul opened #28 "Make 'make build' fails for empty .config files"

[2015-02-04 16:26] moul opened #29 "Create a 3.17.x with patch-level version"

[2015-02-04 16:26] moul opened #30 "Clean test kernels"

[2015-02-04 17:18] #27 closed

[2015-02-04 17:18] #28 closed

[2015-02-04 17:18] #29 closed

[2015-02-04 17:18] moul commented on #30
Fixed

[2015-02-04 17:23] #30 closed

[2015-02-04 17:35] moul commented on #14
Moved to testing branch: https://github.com/online-labs/kernel-config/tree/testing/3.18-xen

[2015-02-04 17:36] moul commented on #14
@edouardb : ping for https://github.com/online-labs/kernel-config/issues/14#issuecomment-70081950

[2015-02-04 17:36] moul commented on #13
@aimxhaisse @edouardb, does anyone of you continued the testing ? We know the support is here, but there are some specificities that need to be documented

[2015-02-04 17:38] moul commented on #6
This eats too much memory, so we need to be able to disable this feature for common computers

[2015-02-04 17:38] moul commented on #5
Didn't see it recently, closing for now

[2015-02-04 17:38] #5 closed

[2015-02-04 17:46] moul opened #31 "Measure the stability of kernels without hardware IO/Coherency"
Stable versions 3.17.8 and 3.18.5 have been released with a fix that disables the Marvell's hardware IO/Coherency feature

It seems that random problems appeared when bumping to this kernel versions

We will probably skip stable versions until the a patch re-enable it.

---

- https://www.kernel.org/pub/linux/kernel/v3.x/ChangeLog-3.18.5
- https://www.kernel.org/pub/linux/kernel/v3.x/ChangeLog-3.1

[2015-02-05 08:23] tpetazzoni commented on #31
Hum, I am a bit surprised, because the current HW I/O coherency implementation is known to be broken, so disabling it should not make things worse, but actually better.

[2015-02-05 08:35] aimxhaisse commented on #31
Not sure at 100% that this patch is the issue, I'll confirm this today.

We still have the 'rare' issue with 3.17, I've spent some time playing with the 3.18, we have a lot of random crashes (I don't have a reproducible scenario, it's too random, but I can make them crash in a few minutes). This patch is on the list of candidates, but maybe that's something else.

Maybe this patch actually fixes t

[2015-02-05 09:43] moul commented on #31
We will test today:
- 3.18.4
- 3.18.5
- 3.18.5 with a git revert to re-enable the feature (https://github.com/online-labs/kernel-config/tree/testing/3.18.5-iocoherency)

[2015-02-05 12:21] tpetazzoni commented on #31
@moul Thanks a lot for all this testing!

[2015-02-05 17:54] aimxhaisse commented on #31
Ok, so I really think this patch introduces stability issues, what I did:

* reboot 10 times a kernel, see if everything boots, try a few md5sum on several files to trigger I/Os and network (nbd)

I did it on three kernels:

* 3.17.0
* 3.18.5 with this patch
* 3.18.5 without this patch (that's the only difference between both kernel)

With the first one, several services randomly crashes at startu

[2015-02-05 20:43] tpetazzoni commented on #31
@aimxhaisse Thanks a lot for the testing. This is not good news. Can you confirm the tests have been made on Armada XP ?

[2015-02-05 21:11] aimxhaisse commented on #31
@tpetazzoni Yes, that was on Armada XP.

There's still little hope that maybe this patch indeed solved the 'rare' issue, but I can't verify this.

[2015-02-06 10:59] tpetazzoni commented on #31
@aimxhaisse The L2 support on Armada XP does not have any ->clean, ->invalidate or ->sync operations. Normlally, the L2 on Armada XP is an "inner" cache, and the L1 is supposed to broadcast its maintenance operations to the L2 automatically. So normally, when the kernel does L1 maintenance operations, it should take care of the L2. However, we don't know if this broadcasting mechanism is supposed

[2015-02-06 14:04] aimxhaisse commented on #31
@tpetazzoni Thanks for the details! I've started reading some docs/code about it, but I'm still wandering in the wilderness for now. I had tried some patches you gave me regarding I/O coherency (on infraread's repository), but still had stability issues. However, I don't know which 'kind' of stability issue it was, I can re-run some tests with those. I'll also try Willy's suggestion (backporting t

[2015-02-06 15:56] EvaSDK commented on #6
You can set a maximum value for ccache to use with `ccache -M 1G` and expand the amount of RAM by using compression using zram module for example

[2015-02-09 13:41] aimxhaisse opened #32 "Consider enabling configs to have PERF in 3.2.34"

[2015-02-09 13:43] moul commented on #32
:+1: let's go

[2015-02-09 16:51] moul commented on #31
Just saw this commit https://git.kernel.org/cgit/linux/kernel/git/stable/linux-stable.git/commit/?id=6ab11bbf0eeed2bf7a2bfb3a7880a0bbed10cbd9 on the 3.18.6, it seems to not affect armada XP.

We will give a try to the 3.18.6 anyway

[2015-02-13 11:52] aimxhaisse opened #33 "Enable CONFIG_IP_ADVANCED_ROUTER in mainline kernels"

[2015-02-13 16:11] #33 closed

[2015-02-16 22:05] Stary2001 opened #34 "Missing CONFIG_XFRM_USER option"
IPSec with OpenSwan requires use of xfrm_user, which is controlled by the CONFIG_XFRM_USER kernel option. Enabling this will allow the use of IPSec VPNs on online.net

[2015-02-16 22:09] aimxhaisse commented on #34
Thanks for the report! I'll add it as a kernel module.

[2015-02-16 22:14] edouardb commented on #34
:+1:

[2015-02-17 13:36] #34 closed

[2015-02-19 12:11] pisto opened #35 "build nf_conntrack as a module"
so I can unload it if I want to.

[2015-02-19 16:21] pisto opened #36 "Disable the sound drivers and subsystem"
Those are useless (I suppose?). The driver won't appear in /sys/modules, but the sound subsystem does.

[2015-02-19 17:05] moul commented on #36
Thank you, will try to remove them, expecting they are not dependency

[2015-02-19 17:51] #35 closed

[2015-02-19 17:51] moul commented on #36
Remaining to do on 3.2.34 too

[2015-02-19 17:51] pisto commented on #35
When will this be available?

[2015-02-19 22:02] moul commented on #35
we should release new kernels on tomorrow, if you have other fixes, please post them asap

[2015-02-19 22:04] pisto commented on #35
Can't think of anything else.

[2015-02-19 22:06] moul opened #37 "Add a fedora-enhanced kernel"
See https://github.com/online-labs/image-fedora/issues/13#issuecomment-74963413

[2015-02-20 17:35] moul commented on #37
I just built a new kernel with @kwizart recommendations: https://github.com/online-labs/kernel-config/blob/3.18.7-159-fedora/3.18.7-fedora/.config

(see https://github.com/online-labs/image-fedora/issues/13)

[code]

@kwizart @pisto, can you give a look at this kernel (it's available on the console) ?
Thank you!

[2015-02-20 17:36] moul commented on #35
Done and available in the released kernels :
- 3.18.7-std#158
- 3.18.7-fedora#159
- 3.18.7-aufs#160

[2015-02-20 17:36] moul commented on #36
Done and available in the released kernels :
- 3.18.7-std#158
- 3.18.7-fedora#159
- 3.18.7-aufs#160

[2015-02-23 17:26] moul opened #38 "[pbox] handle creation of uImage containing a rootfs"

[2015-02-23 20:57] kwizart opened #39 "Fixup-adjtimex-freq-validation-on-32bit-systems.patch"
There is an issue with current 32bit kernel  (either armhfp or x86) with ntp:

févr. 22 12:51:40 localhost chronyd[1244]: Fatal error : adjtimex failed for set_frequency, freq_ppm=2.6953e+04 required_freq=4.7441e+01 required_tick=9730

This is currently pending patch upstream (seems to be fixed by 4.0-rc1)
http://pkgs.fedoraproject.org/cgit/kernel.git/commit/?h=f20&id=a80685f4b861c22000c656d87314f

[2015-02-23 22:35] moul commented on #39
Thank you for your feedback, I will try to build a kernel with your patch tomorrow

[2015-02-24 14:56] moul commented on #39
The patch applies successfully, however, when I'm doing an oldconfig, I loose the SELINUX flag you set in #40, I try to fix it then rebuild a new kernel with these patches

[2015-02-24 16:28] moul commented on #39
So finally SELINUX is still there, we just lose another child config

[2015-02-24 16:48] moul commented on #39
Kernel "NBD Boot - Linux 3.19.7-fedora #161" is released with this configuration https://github.com/online-labs/kernel-config/blob/3.18.7-161-fedora/3.18.7-fedora/.config

[2015-02-24 16:48] #39 closed

[2015-02-24 18:41] moul opened #41 "Being able to build a 3.2.34 kernel using docker"
cc @aimxhaisse

[2015-02-24 18:41] moul commented on #41
Need to move lots of things outside the main folder to allow non-destructive `git clean -fxd`

[2015-02-24 23:13] kwizart commented on #37
kernel 3.18.7-159 works ok, 3.18.7-161 is missing the related dtb from the tftpboot (according to the console output). There are probably others changes to make for f20/21 & kernel-3.18
Does it wiill be possible to forward the fedora changes to the 4.0-rc1 kernel ? I would like to start using it for docker on f22 (with overlayfs).

[2015-02-25 10:39] moul commented on #37
I just fixed the boot of the `3.18.7-161` (some files were not synced with the mirrors).

---

I just boot on a fedora (20) with the `3.18.7-161`, the boot process is ok, but I can't login, I think SELINUX is too restrictive and I'm missing some configuration somewhere

---

Boot process

[code]

---

When I try to ssh

[code]

[2015-02-25 17:04] #41 closed

[2015-02-25 17:05] moul commented on #41
It works, but it's a little bit slow for now, since I'm copying the .git file instead of working on checked out repository (it allows me to run this on case-insensitive file systems)

[2015-02-25 17:07] moul commented on #16
The branch seems active currently, we should give a new try soon:

https://github.com/bbrezillon/linux-marvell/commits/cesa-WIP

[2015-02-25 18:28] kwizart commented on #37
It'working fine with me on f21 userspace. (I tried to contact you on IRC freenodes)
You might need to verify the selinux status in /etc/sysconfig/selinux and to relabel the whole filesystem on the next boot (might be easier to do with touch /.autorelabel and reboot)

[2015-02-25 23:43] pisto opened #42 "4.0 crashes"
I tried to reboot into 4.0. It started some selinux related relabeling stuff, but then it crashed: http://pastebin.com/KwBhsnAk . I couldn't get the whole thing, a longer scroll-back in the web console would be appreciated.

[2015-02-25 23:45] pisto commented on #42
Now it rebooted itself, and failed again:

   21.228428] WARNING: CPU: 1 PID: 1 at mm/slab_common.c:657 kmalloc_slab+0x98/0xa8()
[   21.320267] Modules linked in: nolp(O)
[   21.365443] CPU: 1 PID: 1 Comm: systemd Tainted: G           O   3.18.7-161 #1
[   21.452078] [<c00159c8>] (unwind_backtrace) from [<c0011b28>] (show_stack+0x10/0x14)
[   21.544960] [<c0011b28>] (show_stack) from [<c044c2b4>]

[2015-02-25 23:50] moul commented on #42
I didn't enabled SELINUX on 4.0 yet, here is the config file: https://github.com/online-labs/kernel-config/blob/master/4.0-rc1-std/.config

As suggested by @kwizart in https://github.com/online-labs/kernel-config/issues/37#issuecomment-75869433, I will build a 4.0-rc1 kernel enhanced for fedora (certainly tomorrow)

[2015-02-26 11:16] moul commented on #37
I just built a `4.0-rc1-fedora #163` kernel using this config file: https://github.com/online-labs/kernel-config/blob/4.0-rc1-163-fedora/4.0-rc1-fedora/.config

It's already deployed, but the modules may need 15 more minutes to be synced across mirrors

[2015-02-26 14:15] moul commented on #42
https://github.com/online-labs/kernel-config/issues/37#issuecomment-76161325

[2015-02-26 19:16] pisto commented on #37
seems to work, I got only some selinux related noise in dmesg:
[code]

[2015-03-02 10:31] moul opened #43 "Bump to 3.18.7 kernels to 3.18.8"

[2015-03-02 10:32] #43 closed

[2015-03-02 11:25] moul opened #44 "Add cpuidle patch for 4.0-rc1 kernels"

[2015-03-05 08:56] #44 closed

[2015-03-05 14:15] moul opened #46 "Bump to 4.0-rc2"

[2015-03-05 14:15] #46 closed

[2015-03-08 23:25] moul opened #47 "Bump to 3.19.1"

[2015-03-08 23:25] moul opened #48 "Bump to 3.18.9"

[2015-03-09 08:45] moul opened #49 "Bump to 4.0-rc3"

[2015-03-09 08:54] #47 closed

[2015-03-09 08:54] #48 closed

[2015-03-09 08:55] moul commented on #48
@kwizart, the ntp patch is now mainline, so I removed our patch

https://kernel.org/pub/linux/kernel/v3.x/ChangeLog-3.18.9
[code]

[2015-03-09 08:57] #49 closed

[2015-03-09 09:24] aimxhaisse opened #50 "consider enabling CONFIG_POSIX_MQUEUE"

[2015-03-09 12:31] #50 closed

[2015-03-09 12:31] moul commented on #50
FYI: It was already enabled on 3.2.34

[2015-03-10 09:48] newtoncorp opened #51 "Try this patch: irqchip: armada: Fix chained per-cpu interrupts"
This patch may help

http://lists.infradead.org/pipermail/linux-arm-kernel/2015-March/327297.html

[2015-03-10 10:41] moul commented on #51
It does not apply on 3.19.1 by default, I will try to fix it

[2015-03-11 10:50] moul commented on #6
Postponed for now

[2015-03-11 10:50] #6 closed

[2015-03-11 10:51] moul opened #52 "Simplify Makefile by putting actions in mounted scripts"

[2015-03-11 10:51] moul opened #53 "Fix `make build` with LSP kernels"

[2015-03-11 10:51] moul commented on #53
Depending on #52

[2015-03-11 13:59] moul opened #54 "Try to create a .deb package with includes"

[2015-03-11 15:27] moul opened #55 "Document "How to build custom kernel modules""
Probably depending on #54
Related to https://community.cloud.online.net/t/how-to-install-linux-headers-3-17-on-ubuntu-utopic-14-10/616

[2015-03-12 09:23] moul opened #56 "Consider changing rxq_number and txq_number to 4"
http://lxr.free-electrons.com/source/drivers/net/ethernet/marvell/mvneta.c#L463

cc ConSi on IRC
cc @aimxhaisse

[2015-03-17 10:09] moul opened #57 "Bump to 4.0-rc4"

[2015-03-17 11:05] #57 closed

[2015-03-18 14:02] moul opened #58 "Bump to 3.19.2"

[2015-03-18 14:34] #58 closed

[2015-03-18 17:27] moul opened #59 "Test stability of mainline kernel with custom cpuidle configuration"
- [ ] cpuidle disabled
- [ ] force a state of cpuidle

[2015-03-19 10:18] aimxhaisse opened #60 "Try to add KVM support on mainline kernels"

[2015-03-19 10:50] moul opened #61 "Test to `kexec` kernels under multiple circumstances"
- [ ] from a kernel + dtb to a kernel only
- [ ] from a kernel with appended dtb to a kernel only
- [ ] from a kernel + dtb to a kernel with dtb
- [ ] from a kernel with appended dtb to a kernel with appended dtb

[2015-03-21 23:22] moul commented on #36
Already done in 3.2.34

[2015-03-21 23:22] #36 closed

[2015-03-21 23:23] moul commented on #37
The current kernel seems ok, we can now open dedicated issue when we encouter new problems

[2015-03-21 23:23] #37 closed

[2015-03-21 23:34] moul commented on #38
Waiting from @newtoncorp

[2015-03-21 23:41] moul commented on #60
Unfortunately, there is not KVM support on armhf platform yet (https://github.com/torvalds/linux/search?utf8=✓&q=HAVE_KVM).

I suggest to use qemu / lxc

[2015-03-21 23:41] #60 closed

[2015-03-21 23:44] moul commented on #42
The latest 4.0-rc3 released kernel has SELINUX support
I also build a 4.0-rc4 one but it's not yet publicly available

[2015-03-21 23:44] #42 closed

[2015-03-26 08:58] moul opened #62 "Bump to 4.0-rc5"

[2015-03-26 15:18] aimxhaisse opened #63 "Try out to backport the NBD driver from 3.2 in recent kernels"

[2015-03-26 15:19] moul commented on #63
:ok_hand: XMS

[2015-03-26 16:08] aimxhaisse commented on #63
Done (trivial fixes), testing.

[2015-03-28 14:03] aimxhaisse commented on #63
still having the crash

[2015-03-28 14:03] #63 closed

[2015-03-29 10:43] moul commented on #63
:(

[2015-03-30 10:15] moul opened #64 "Bump to 4.0-rc6"

[2015-03-30 10:15] moul opened #65 "Bump to 3.19.3"

[2015-03-30 10:15] #62 closed

[2015-03-30 10:25] #64 closed

[2015-03-30 10:25] #65 closed

[2015-04-01 09:04] aimxhaisse opened #66 "Release a 4.0-rc6 fedora kernel"

[2015-04-01 09:04] aimxhaisse commented on #66
cc @kwizart

[2015-04-01 09:04] moul commented on #66
Ok, it will be done today

[2015-04-02 00:55] moul commented on #66
4.0-rc6 is not build-able using our automated system, I just switched back to 4.0-rc5 (available tomorrow)

[2015-04-02 10:48] moul commented on #66
Released: 4.0-rc5-fedora #198 (beta)

[2015-04-02 10:48] #66 closed

[2015-04-13 12:50] aimxhaisse opened #67 "Consider disabling CONFIG_MV_XOR on LSP kernels"
This option is known to be buggy in mainline kernels, so it is already disabled in mainline kernel.

We found issues related to this option in LSP kernels too, the idea is to:

- test if we have stable LSP kernels without this option
- disable this option

[2015-04-13 12:54] brmzkw commented on #67
Just to remember, this is the way to reproduce the known issue.

In test.py:
[code]

shell 1: `nc -l -p 6666`
shell 2: `python test.py`
shell 1: write anything

If we `read()` less than 4096 bytes, everything is working fine and we get the message written from shell 1. If we `read()` more than 4096 bytes, we receive garbage.

[2015-04-13 13:28] moul opened #68 "Bump to 3.19.4"

[2015-04-13 13:28] moul opened #69 "Bump to 4.0"

[2015-04-13 13:33] #69 closed

[2015-04-13 13:42] #68 closed

[2015-04-14 07:11] moul opened #70 "Add a 3.x LTS kernel"

[2015-04-14 07:12] moul opened #71 "Bump the aufs image do 4.x and rename it to docker"

[2015-04-14 07:18] moul commented on #71
Blocked for now. Waiting for a 4.x aufs branch (http://aufs.sourceforge.net)

[2015-04-14 07:24] #70 closed

[2015-04-14 07:41] #20 closed

[2015-04-14 14:04] avsm commented on #14
Any progress on this?  I'd love to be able to run MirageOS unikernels on Scaleway nodes. Right now we use http://openmirage.org/wiki/xen-on-cubieboard2 for physical boards, but a lot of people want to have a hosted ARM node instead.

[2015-04-14 15:41] moul commented on #14
@edouardb ping

[2015-04-14 15:44] edouardb commented on #14
I didn't get any satisfying results at the moment. It does not work.

[2015-04-16 13:53] moul opened #72 "Create CHANGELOG.md for kernels"
- [ ] current kernels
- [ ] update README.md with links

[2015-04-16 14:40] brmzkw commented on #25
To be more specific about the "outgoing issues": when CONFIG_MV_XOR is set, if you try to read more than 4096 bytes on a local TCP server, you receive garbage.

To reproduce:

shell1: `nc -l -p 6666`
shell2: script that connects on 6666, reads 4097 bytes and prints the result
shell1: type anything
shell2: receive garbage

If you read 4096 bytes or less, you receive the message sent by the server.

[2015-04-17 10:58] avsm commented on #14
Is it possible for us to boot custom kernels with a serial console on these boards? I'm happy to try and get it to work.  https://github.com/mirage/xen-arm-builder has a working version for Cubieboard/trucks tha t could be adapted.

[2015-04-17 11:34] #67 closed

[2015-04-20 08:32] moul opened #73 "Consider increase block-size on NBD and EXT4"

[2015-04-20 08:54] aimxhaisse commented on #73
cc @bougueil

[2015-04-20 08:59] aimxhaisse commented on #73
Trying with:

[code]

[2015-04-20 10:05] aimxhaisse commented on #73
I have a kernel that boots with huge TLB, however, the limit is still there, we can't have a FS with a blocksize > PAGE_SIZE which can't be configured via menuconfig (it's defined in raw arch/arm/include/asm/page.h, I think we can't change this on arm 32).

[2015-04-21 11:52] moul commented on #14
We will try to put a beta kernel with XEN support soon

[2015-04-21 12:27] avsm commented on #14
Great!

[2015-04-21 16:33] moul commented on #14
I added the `4.0-xen #206 (beta)` boot script, you should be able to try it now by updating your server from the console

or, using [scaleway-cli](https://github.com/scaleway/scaleway-cli), you can also create a new server using: `scw images -a && scw create trusty --bootscript=xen`

[2015-04-21 18:15] avsm commented on #14
I've edited the bootscript to be `4.0-xen #206 (beta)` in my node and done a hard reboot.  I saw the serial console reconnecting a few times, but when it finally comes up there's only a Linux kernel and no Xen.

[code]

Do I need to do something to make the new bootscript activate?  It seems like it may have been failing and then rebooting into a default Linux fallback, but I can't get a serial co

[2015-04-21 18:34] avsm commented on #14
Oops, I just realised that bootscript has successfully launched the 4.0.0-xen kernel... but something else has to make it multiboot into Xen first.

[2015-04-21 18:34] moul commented on #14
`* Kernel:           GNU/Linux 4.0.0-206 armv7l` means you are using the good kernel,
you can checkout the configuration by typing:

[code]

I think the kernel part is enough, I don't know xen, but maybe we need to pass some arguments using /proc/cmdline ?

If a XEN guru see this message, we need help :p

[2015-04-23 13:33] avsm commented on #14
Xen works by booting first, and then it loads the Linux-xen kernel as the "domain 0" (that is, the administration domain).  Do the ARM boards at Scaleway boot via u-boot?

See the .dtb files for the:

* Cubietruck: https://github.com/mirage/xen-arm-builder/blob/master/boot/boot-cubietruck.cmd
* Cubieboard2: https://github.com/mirage/xen-arm-builder/blob/master/boot/boot-cubieboard2.cmd

It looks l

[2015-04-23 13:34] moul commented on #14
Yes it does

---

I will check the .dtb files and come back to you :)

[2015-04-23 13:36] moul commented on #14
You found the most perfect documentation for us :) I will give some tries, I think it will be ready for testing on tuesday

[2015-04-23 13:37] moul opened #74 "Bump to 3.18.12"

[2015-04-23 13:38] moul opened #75 "Bump to 3.19.5"

[2015-04-23 16:22] MagnusS commented on #14
Great! I am also looking forward to this. I think it could be perfect for hosting unikernels with [jitsu](http://github.com/magnuss/jitsu).

[2015-04-23 21:51] #74 closed

[2015-04-23 21:51] #75 closed

[2015-04-27 02:49] gautammaloo commented on #14
@moul  I checked out 4.0 xen image. Kernel has all the support it needed to use xen but as @avsm mentioned you have to first boot xen and then boot kernel of dom0. you might have to create a node for hvc0 also with mknod .
I have run 4.5 on arndale board with linaro rootfs.
Check out more at http://www.episodic.cc/2014/06/booting-linux-in-xens-dom0-on-arndale.html

[2015-04-27 18:02] moul commented on #14
thank you @gautammaloo and @avsm,

I will check tomorrow, from what I saw, I will need to (at least) :

- [ ] update **initrd** to handle creation of new devices (**hvc0**)
- [ ] create a new **dts** with dom0 support
- [ ] create a new **bootscript** with proper **dtb** and **cmdline**

[2015-04-29 07:39] moul commented on #14
Update: I'm still working on it :)

[2015-04-29 08:03] avsm commented on #14
Looking ahead, we will also need to figure out the best default routing for VMs so they can be accessed. Dom0 could biNAT, or if Scaleway supports multiple public IP addresses we could just bridge.

[2015-04-30 02:02] AltGr commented on #14
Looking forward to it :)

[2015-04-30 11:44] moul opened #76 "Bench the new mv_cesa kernel module"
- http://marc.info/?l=linux-arm-kernel&m=142859188107287&w=2
- http://marc.info/?l=linux-arm-kernel&m=142859194807313&w=2

[2015-05-05 08:56] moul opened #77 "Bump to 3.19.6"

[2015-05-05 08:56] moul opened #78 "Bump to 4.0.1"

[2015-05-05 08:58] moul opened #79 "Add a unit test to check if CHANGELOG contains a string with current version"

[2015-05-05 09:54] #77 closed

[2015-05-05 09:58] #78 closed

[2015-05-10 16:53] moul opened #80 "Bump to 4.0.2"

[2015-05-10 16:54] moul opened #81 "Bump to 3.19.7"

[2015-05-10 16:54] moul opened #82 "Bump to 3.18.13"

[2015-05-11 11:24] #80 closed

[2015-05-11 12:35] #81 closed

[2015-05-12 05:06] AltGr commented on #14
Any news ?

[2015-05-12 09:13] #82 closed

[2015-05-12 09:13] amirmc commented on #14
Likewise. I'd be very curious to know how this is progressing.

Best wishes,
Amir

--
Sent via mobile

[2015-05-12 09:21] moul commented on #14
Sorry guys I was blocked and switched back to BSD kernel support which is somehow related with this issue, I will continue and try to finish today

[2015-05-12 16:45] moul commented on #14
Update: I'm still with a kernel panic when trying to load XEN:

[code]

I'm trying different settings in the new .dts file

[2015-05-13 12:29] moul opened #83 "Create an apparmor flavoured kernel"

[2015-05-13 12:33] #83 closed

[2015-05-13 12:55] moul opened #84 "Enable CONFIG_CFS_BANDWIDTH on Docker kernel"
from @janeczku on https://community.scaleway.com/t/official-linux-kernel-new-modules-optimizations-hacks/226/40?u=manfred

[2015-05-13 13:52] #84 closed

[2015-05-13 16:24] aimxhaisse commented on #84
Extra note regarding this kernel, it looks like there's a performance degradation on the following test:

    iperf -s
    iperf -c localhost

Without: ~6.5 gbit/sec
With: ~5.7 gbit/sec

[2015-05-14 06:16] janeczku commented on #84
Legacy iperf bug? https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=444277 ;-)

[2015-05-17 22:20] moul commented on #84
Ah yes, interesting; @aimxhaisse can you try to build a patched iperf just for validation of future tests ?

cc @NoKriK

[2015-05-18 05:45] aimxhaisse commented on #84
"Fixed in version iperf/2.0.2-4" ; looks like we are using 2.0.5

[2015-05-19 09:12] moul opened #85 "Bump to 4.0.4"

[2015-05-19 14:04] moul opened #86 "Bump docker to 4.x"

[2015-05-19 14:16] #85 closed

[2015-05-19 14:30] #86 closed

[2015-05-26 14:06] moul commented on #14
Hey guys,

We are blocked by a hardware limitation on the current version of servers (C1), we are working on a fix but it will take longer than expected

This ticket will be updated as soon as we have something we can show

[2015-05-26 14:06] #14 closed

[2015-05-26 15:01] moul opened #87 "Bump to 3.18.14"

[2015-05-26 15:03] #87 closed

[2015-05-26 15:06] moul opened #88 "Bump to 3.19.8"

[2015-05-26 15:07] #88 closed

[2015-05-26 15:37] avsm commented on #14
Thanks @moul -- it did indeed look like the particular CPUs used didn't actually have the virt extensions (hence the undefined instruction trap).

[2015-05-28 16:14] moul opened #89 "Create an index file on publish_all for directory listing"

[2015-05-29 01:40] AltGr commented on #14
Ah, too bad... Thanks for trying!

[2015-06-08 15:16] moul opened #90 "Bump to 4.0.5"

[2015-06-08 15:26] #90 closed

[2015-06-08 17:07] moul opened #91 "Add build of scaleway-c1-soc-irq.c kernel module in Makefiles"

[2015-06-08 17:34] moul opened #92 "Add a 3.2.34 apparmor kernel"

[2015-06-09 16:56] #92 closed

[2015-06-11 11:01] voondo opened #93 "systemd support for gentoo"
It would be great if we could have a bootscript compatible with the gentoo systemd integration :
*  append `init=/usr/lib/systemd/systemd` to the kernel command line
*  a kernel with at least these config options:
[code]
source : http://cgit.freedesktop.org/systemd/systemd/tree/README

[2015-06-11 11:27] moul commented on #93
We will try to get it working, I have similar needs for other systemd-based distros, so we will at least have a dedicated bootscript with custom kernel and cmdline

Then we will try to get a gentoo + systemd image.

We will need to choose only one gentoo "official" version to support (openrc or systemd), but we can let sources for people to keep build the other one

---

Do you have instructions t

[2015-06-11 13:37] voondo commented on #93
The instructions are here : https://wiki.gentoo.org/wiki/Systemd#Installation
The trick is to append `init=/usr/lib/systemd/systemd` to the kernel command line... but as you know, we can't do anything about that

[2015-06-15 10:44] moul opened #94 "Enable CONFIG_CPUFREQ_DT"

[2015-06-15 10:47] #94 closed

[2015-06-19 08:02] moul opened #95 "Bump to 3.18.16"

[2015-06-19 08:04] #95 closed

[2015-07-03 16:22] aimxhaisse commented on #93
We only miss `CONFIG_FANOTIFY` for kernel 4.0.5-std ; 4.0.5-fedora should play well (just checked the requirements).

[2015-07-03 16:50] aimxhaisse commented on #93
Added CONFIG_FANOTIFY in -std and other mainline kernels.

[2015-07-20 14:02] moul opened #97 "Bump to 4.0.8"

[2015-07-20 14:02] moul opened #98 "Bump to 4.1.2"

[2015-07-20 14:06] #97 closed

[2015-07-20 14:51] #98 closed

[2015-07-21 08:54] moul opened #99 "Bump to 3.18.18"

[2015-07-21 08:58] #99 closed

[2015-07-30 08:39] moul opened #101 "Bump to 4.1.3"

[2015-07-30 08:39] moul opened #102 "Bump to 4.0.9"

[2015-07-30 08:39] moul opened #103 "Bump to 3.18.19"

[2015-08-03 10:01] aimxhaisse commented on #101
Beware on this kernel: there's a regression that has not been fixed upstream, but few patches have been made (I've tested previous iterations of the patch and they were working fine, but I haven't tested the latest one, which should fix the issue).

The latest patch should be here: https://lkml.org/lkml/2015/7/20/708 , which should probably added to our list of patches to apply.

[2015-08-03 12:57] QuentinPerez opened #104 "Review `scaleway-c1-soc-irq.c` kernel module"

[2015-08-03 14:40] #103 closed

[2015-08-03 15:50] QuentinPerez opened #106 "separate kernel create and edition"
- [x] remove automatic creation of new kernel
- [x] add new "create"  dedicated command
- [x] clarify doc

[2015-08-03 16:01] NoKriK opened #107 "Unable to run blktrace"
There seem to be somme missing modules to be able to run blktrace to trace IO block access.
[code]

This is needed to be able to profile IO intensive applications.

I believe this is related to this option in the .config :  ```CONFIG_BLK_DEV_IO_TRACE```
https://github.com/scaleway/kernel-tools/blob/master/4.0.9-docker/.config#L3444

See http://kernel.ubuntu.com/~kernel-ppa/configs/trusty/amd64-con

[2015-08-03 16:05] NoKriK commented on #107
This was observed on the docker 1.7.1 Image with the following kernel:
[code]

[2015-08-03 16:22] #102 closed

[2015-08-03 16:33] moul opened #109 "Add 'make help' command"

[2015-08-03 16:43] QuentinPerez commented on #107
Enabling this option also enables:

[code]

And this option can reduce the performances, maybe we should add it only in debug ?
https://groups.google.com/a/chromium.org/forum/#!topic/chromium-os-checkins/WIE2QFncYEQ

[2015-08-03 16:55] moul commented on #107
Let's try, @aimxhaisse will run a benchmark suite tonight

[2015-08-03 16:56] #109 closed

[2015-08-03 17:08] QuentinPerez opened #111 "Add upgrade instruction in the README.md"

[2015-08-03 18:12] #111 closed

[2015-08-03 18:12] #106 closed

[2015-08-04 11:10] moul commented on #104
Is the review fully complete ?

[2015-08-04 12:21] QuentinPerez commented on #104
I will check again a little :)

[2015-08-04 15:45] NoKriK commented on #107
How did it go @aimxhaisse ?

[2015-08-04 16:42] aimxhaisse commented on #107
They are about 15-20% slower than a 4.0.5-std on a iperf, I can investigate why, but if it's not critical I guess it's safer not to enable it.

[2015-08-04 17:14] moul commented on #107
I vote for a dedicated 4.0.x-debug new flavor

[2015-08-04 17:17] aimxhaisse commented on #107
:+1: for the dedicated flavor

[2015-08-04 17:40] moul opened #115 "Create a new `-debug` flavor for the latest stable linux (4.0.x currently)"
Base your work from a `-std` flavor and add `CONFIG_BLK_DEV_IO_TRACE` module for now

Fix #107

[2015-08-04 18:06] NoKriK commented on #107
Wow. That's really strange as it's enabled by default on Ubuntu's kernel.
Let's go for a dedicated flavour then.

[2015-08-05 08:06] aimxhaisse commented on #107
The test with the perf regression were made on a 4.0.8-std,just tested a 4.0.9-std with blk and there's no performance issue so I guess we don't need the dedicated flavor.

[2015-08-05 08:33] aimxhaisse opened #117 "Investigate why docker kernels are slower than std kernels"

[2015-08-05 12:18] moul opened #118 "Tc (traffic control) support in kernel"
---

Original issue: https://community.scaleway.com/t/tc-traffic-control-support-in-kernel/889

[2015-08-06 09:05] #115 closed

[2015-08-06 09:08] QuentinPerez commented on #107
Fixed with #115  😊

[2015-08-06 09:08] #107 closed

[2015-08-06 09:31] aimxhaisse commented on #117
Related to #84

[2015-08-24 09:22] moul opened #119 "Bump to 3.18.20"

[2015-08-24 09:23] moul opened #120 "Bump to 4.1.6 (Fixes #101)"

[2015-08-26 10:28] #119 closed

[2015-08-26 13:32] #101 closed

[2015-08-26 14:36] zx2c4 opened #123 "Extraneous modules are dangerous if compiled-in"
In 4.1.2-std, if you take the .config and run "sed -i 's/=m/=y'", the resultant kernel does not boot, giving this error message:

    Available machine support:

    ID (hex)        NAME
    ffffffff        Generic DT based system
    ffffffff        Marvell Armada 39x (Device Tree)
    ffffffff        Marvell Armada 380/385 (Device Tree)
    ffffffff        Marvell Armada 375 (Device Tree)
    ff

[2015-08-26 16:20] moul commented on #123
@zx2c4 thank you for your feedback, we will bruteforce the loadable modules to know which one prevent a boot when compiled with the kernel

[2015-08-27 01:16] zx2c4 commented on #93
Once the kernel situation is resolved, the cmdline situation can probably be remedied without needing a custom kernel command line: just symlink /sbin/init -> /usr/lib/systemd/systemd.

[2015-08-27 07:37] #120 closed

[2015-08-27 15:35] moul opened #126 "Build kernels with Travis"

[2015-08-27 16:33] moul opened #128 "Deploy built kernels"
Depends on #126

[2015-08-27 20:32] #126 closed

[2015-09-01 09:14] aimxhaisse opened #130 "Test patchset regarding DSA port configuration and status"

[2015-09-01 12:13] aimxhaisse commented on #130
Done.

It is working fine, I've reported this upstream.

[2015-09-01 12:13] #130 closed

[2015-09-01 17:54] moul opened #131 "Append the flavor in the built uImage header"

[2015-09-02 15:35] QuentinPerez opened #132 "docker kernel: switch some modules in monolithic"
[code]

[2015-09-02 15:36] moul commented on #132
Let `- CONFIG_EXT3_FS: enabled (as module)` as a module

[2015-09-02 15:36] QuentinPerez opened #133 "docker kernel: switch some modules in monolitic"
[code]

[2015-09-02 20:48] moul commented on #132
As indicated by @aljeux on https://github.com/scaleway/image-app-docker/issues/23#issuecomment-137238448, we should compile fuse with the kernel

[2015-09-02 20:48] moul commented on #133
Duplicates with #132

[2015-09-02 20:48] #133 closed

[2015-09-02 20:49] moul commented on #76
See with @aimxhaisse and I for details

[2015-09-03 14:53] moul opened #135 "Build a Linux 4.2 kernel"

[2015-09-04 13:49] Spindel opened #138 "Enable modules for L2TP"
I want to use a Scaleways machine as an l2tp/ipsec VPN server for my android devices.

This requires L2TP support to be built into the kernel (or as a module) PPPoL2TP  (l2tp_ppp / pppol2tp)  module.

[2015-09-04 13:53] ebfe opened #139 "Enable CONFIG_PROC_EVENTS"
Hi,

any chance we can get CONFIG_PROC_EVENTS enabled in the kernel? This is enabled by default in the stock Archlinux, Ubuntu and OpenSUSE kernels (and I guess on other distributions too).

Note this requires CONFIG_CONNECTOR=y (4.1.6-std has CONFIG_CONNECTOR=m but unfortunately this is not enough).

[2015-09-04 13:54] moul commented on #138
Hi @Spindel, the L2TP module is available as a module in all our kernels: https://github.com/scaleway/kernel-tools/search?utf8=✓&q=l2tp

You can checkout live by using "zcat /proc/config.gz | grep -i l2tp"

[2015-09-04 13:56] moul commented on #139
@ebfe we will build a kernel with this option and test its stability, if the stability and performance are enough, we will add this option on all our kernels, else we will probably create a new flavor of the kernel with this option, stay tuned

[2015-09-04 15:07] voondo commented on #93
@aimxhaisse : ok thanks a lot
@zx2c4 : it should work yes (maybe some nasty side effects ?)

[2015-09-04 15:07] #93 closed

[2015-09-04 15:15] moul commented on #16
Closing in favor of #76

[2015-09-04 15:15] #16 closed

[2015-09-04 16:10] moul commented on #93
@voondo yes you can use a symbolic link from `/usr/lib/systemd/systemd` to `/sbin/init` as done in other systemd-based distros, i.e: Fedora

[code]

Note that you need to use a relative symlink and not an absolute one.
Our initrd will check if /sbin/init exists from outside of the rootfs, so an absolute symlink will target something outside of your rootfs and the test will fails, see https://githu

[2015-09-04 18:55] #135 closed

[2015-09-05 18:45] 2knarf opened #142 "Feature request: Grsec enabled kernel for Alpine Linux"
The Alpine Linux distro comes with the package linux-grsec, would it be possible to add this as an option?

[2015-09-05 20:12] moul commented on #142
I will try again, but last time I tried, the support was not ported for ARMv6+ architecture

[2015-09-05 20:16] moul commented on #142
About the package itself, note that we load the kernel before loading the root filesystem, so we cannot use the `linux-grsec` package from Alpine.
We will try to add global `grsec` support on the kernel, so it works everywhere (alpine, ubuntu, debian, etc)

[2015-09-05 20:19] moul commented on #142
I can test a patch of grsec but it will be on a very old kernel that we don't support yet: 3.14

Do you really prefer a 3.14 kernel with grsec over a 4.2 kernel ?
Note that we have selinux support available on 4.x kernels too

[2015-09-05 23:37] Spindel commented on #138
So, currently this does not work:

[root@waterspout ~]# systemctl status xl2tpd.service
● xl2tpd.service - Level 2 Tunnel Protocol Daemon (L2TP)
   Loaded: loaded (/usr/lib/systemd/system/xl2tpd.service; enabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since Sat 2015-09-05 19:31:05 EDT; 1s ago
  Process: 2668 ExecStartPre=/sbin/modprobe -q l2tp_ppp (code=exited, status=1/FAI

[2015-09-06 09:45] moul commented on #138
Hi @Spindel L2TP is already available as a module you can load manually, however, one particularity about running Linux on Scaleway is that we don't use the kernel on your rootfs, so we needed to add a script that synchronize current kernel modules to `/lib/modules` on boot.

I suppose that our init script that syncs the module is maybe loaded **after** the **xl2tpd** service.

Can you try to do a

[2015-09-06 12:33] Spindel commented on #138
It's the *PPPOL2TP* that is missing in order to run a functional  *xl2tpd*
server. ( and thus ipsec)
I'll wait for the updated kernel and then set about documenting the setup
for others to use.
Thanks!

On Sun, 6 Sep 2015 11:45 Manfred Touron <notifications@github.com> wrote:

[2015-09-06 16:40] 2knarf commented on #142
Yes I prefer a 3.14 grsec above a 4.2 kernel, and so will most of the grsec users.

Selinux is not the same as grsec provides.

[2015-09-06 22:07] ruoho opened #144 "SELinux disabled in 4.1.6-apparmor #247 kernel"
Yann from Scaleway suggested I file an issue here.

The 4.1.6-apparmor #247 kernel/Bootscript does not support SELinux. This is a regression from the behavior of #246 which has full SELinux support.

Booting from 4.1.6-apparmor #247:
[root@selinux-test ~]# uname -a && sestatus
Linux selinux-test 4.1.6-247 #1 SMP Wed Aug 26 18:05:41 UTC 2015 armv7l armv7l armv7l GNU/Linux
SELinux status: disabled
[

[2015-09-06 22:09] moul commented on #144
* #247 is our std kernel: https://github.com/scaleway/kernel-tools/tree/master/4.1.6-std
* #246 is our fedora kernel: https://github.com/scaleway/kernel-tools/tree/master/4.1.6-fedora

Even if the build numbers are following, they don't share the same kernel flavor

If you want to have selinux, you need to stay on the fedora flavor

[2015-09-06 22:11] moul commented on #138
@Spindel yes, I'm just waiting for colleagues to approve my PR https://github.com/scaleway/kernel-tools/pull/143

[2015-09-06 22:13] ruoho commented on #144
Great - thanks!

[2015-09-06 22:13] #144 closed

[2015-09-06 22:47] NoKriK commented on #142
GRSEC will soon end support of stable releases for the public, see https://grsecurity.net/announce.php
Not sure this is worth the effort.

[2015-09-06 22:50] moul commented on #142
I built a 3.14, we can already test if the 3.14 boots on our servers

[2015-09-07 07:54] #138 closed

[2015-09-07 08:01] 2knarf commented on #142
@NoKriK But what about the sponsors? Also Spender has mentioned that personal licenses can be a possibility in the future, as well unstable patches can be built.

@moul Any way to test for me?

[2015-09-08 14:24] ebfe opened #146 "9p fs on newer kernels"
The 9p filesystem modules seem to be disabled on the newer kernels (the only
kernel with 9p enabled is 3.2.34-std).

CONFIG_NET_9P=m
CONFIG_9P_FS=m

Is there a reason this was disabled on the newer ones?

[2015-09-08 14:25] moul commented on #146
No reason, we forgot to add it

[2015-09-08 15:42] #132 closed

[2015-09-08 17:24] moul commented on #146
The next release of the 4.x-std will contain **9p** related modules

[2015-09-08 17:24] #146 closed

[2015-09-08 17:30] ebfe commented on #146
Thanks!

[2015-09-08 17:31] Edzilla2000 commented on #118
Hello, this is critical for me, the ticket was opened more than 3 months ago on scaleway's internal support.

When can I expect resolution?

[2015-09-08 17:34] moul commented on #118
Hi @Edzilla2000, we are sorry, we prioritize issues depending of the amount of concerned users

@QuentinPerez can you increase the priority of this issue ?

[2015-09-08 21:17] QuentinPerez commented on #118
Hi @Edzilla2000, sorry I will do it tomorrow 😉

[2015-09-09 09:50] QuentinPerez commented on #118
Hi @Edzilla2000,
Today I tried to add your configuration but all modules are obsolete.
Also I tried to run `tc` on (4.1.6/3.2.34) and it works fine.

[2015-09-09 09:51] moul opened #148 "Consider adding cryptodev"
Depends on #76

https://github.com/cryptodev-linux/cryptodev-linux

[2015-09-09 09:58] moul commented on #142
The 3.14 kernel won't boot on the C1 servers

The support cames later and the actual minimal version of the mainline kernel running on C1 is 3.18

However, GRSEC support for >3.14 are not official and won't be supported

[2015-09-09 09:58] #142 closed

[2015-09-10 09:18] Edzilla2000 commented on #118
Hi @QuentinPerez
I tried to run it on a recent kernel and it does indeed work.
I had tried on several kernels since the report was made to scaleway's internal support and it didn't work.

Thank you for pointing it out to me!

You can close the ticket I think.

[2015-09-10 09:18] moul commented on #118
Perfect, thanks

[2015-09-10 09:18] #118 closed

[2015-09-11 06:47] aimxhaisse commented on #51
Tested (present in upstream kernels)

[2015-09-11 06:47] #51 closed

[2015-09-15 08:02] aimxhaisse commented on #31
It seems that this issue is fixed on 4.2 kernels \o/ ( https://github.com/scaleway/kernel-tools/blob/master/4.2-std/.config )

[2015-09-18 14:49] moul opened #149 "Bump kernels to 4.2"

[2015-09-18 15:13] aimxhaisse commented on #149
We need to add the following patch in this kernel:

    [PATCH] net: mvneta: fix DMA buffer unmapping in mvneta_rx()

[2015-09-19 21:30] moul opened #150 "Support IPv6 on C1"
Actually, the C1 servers are lacking from native IPv6 support due to hardware limitations.
We are working on workarounds to get this fixed on C1 and we should support it natively in newer generations of the hardware.

This issue will stay open if anybody have suggestions, use cases or feedbacks, so we can get this feature more quickly.

[2015-09-21 10:04] #149 closed

[2015-09-22 11:36] shouze commented on #148
This one could speedup SSL services I guess?

[2015-09-22 11:39] wmark commented on #148
@shouze, that's a yes.

[2015-09-22 11:42] shouze commented on #148
Great, [following benchmarks](http://archlinuxarm.org/forum/viewtopic.php?f=7&t=2451#p13657) tells that it could be a huge improvement for my SSL offloading!

How Can I help?

[2015-09-23 08:28] moul commented on #148
I enabled new CESA support on the Kernel https://github.com/scaleway/kernel-tools/pull/137
But for now I can't easily call the crypto engine from the user land

I will try to enable cryptodev and recompile OpenSSL with cryptodev patches to check if everything is working nicely (the last time I tried, performances were quiet good, but the kernel driver was returning invalid hashes), I think they fi

[2015-09-25 15:11] aimxhaisse opened #153 "Rely on CONFIG_UNIX98_PTYS=y on mainstream kernels"
As pointed out by @richardschuetz on https://github.com/scaleway/image-debian/issues/27, we should try to rely on CONFIG_UNIX98_PTYS:

   That's caused by CONFIG_LEGACY_PTYS=y and CONFIG_LEGACY_PTY_COUNT=256 in the kernel configuration. These days it's sufficient to rely on CONFIG_UNIX98_PTYS=y only.

[2015-09-27 21:15] fijam commented on #148
I'll just mention that another recent way to access the kernel crypto engines is with libkcapi (http://www.chronox.de/libkcapi.html), which is a wrapper for AF_ALG. As far as I know, it only requires  CRYPTO_USER_API* modules kernel-side.

[2015-09-28 21:45] kwizart commented on #37
There is no more a fedora kernel on the bootstrip choice (even when picking a fedora distribution made by scaleway). I have reported an internal issue about this. But is there a way to use an original fedora kernel instead.
I feel jailed by the scaleway kennel that will alrway need to resync with the original fedora kernel.
Better would be to use the fedora kernel directly instead.

Thx

[2015-09-29 08:22] moul commented on #37
This was a typo in the name of the bootscript:

* oldname: **4.1.6-246-apparmor**
* newname: **4.1.6-246-fedora**

here is the detail about the fedora kernel:

[code]

the title can contains typos (manually edited), but the path of the kernel is dynamically generated by the Makefile, so it can be trusted

---

If you see a way to improve our fedora kernel support feel free to contribute

About the

[2015-09-29 17:00] wmark commented on #148
Nice. Although *cryptodev* is something I suspect more users are familiar with.

Although I would appreciate it if the C2 had NEON or the MMX instruction set *clones*. Would make a lot of things easier and faster. I've some *Intel Edisons* (IA32) at home, which are even more comfortable and have a better power envelope.

@moul, I will modify my *OpenSSL debs* accordingly and make them available to

[2015-10-06 13:37] exception0x876 commented on #139
+1 for this, need it for cgrulesengd working correctly.

[2015-10-07 08:35] juju2013 opened #158 "Please add CONFIG_SECCOMP option"
For some applicaiton, CONFIG_SECCOMP is needed.
Please add this to [some of the] kernels.

Thanks.

[2015-10-07 09:20] #139 closed

[2015-10-09 09:45] sfzhi opened #163 "Please add CONFIG_IP_MULTIPLE_TABLES option"
This option is required for "ip rule" to work, which is needed for some advanced networking setups.

[2015-10-22 13:13] moul opened #164 "Consider add a 3.18.x kernel with unstable grsec patches"
See: https://community.scaleway.com/t/official-linux-kernel-new-modules-optimizations-hacks/226/61?u=manfred

[2015-10-24 15:31] Govinda-Fichtner opened #165 "Please add TMPFS_XATTR=y for the Scaleway Imagehub Docker image"
Running Docker-Engine Unit Tests fails because Linux Extended Attributes are not supported from the kernel.

[code]
To be able to test & build Docker on a Scaleway host the kernel support for this is necessary.

__The affected image is__:
https://www.scaleway.com/de/imagehub/docker/

By the way: Is there way to add a self-build kernel to an existing/running Scaleway Server?

[2015-10-24 21:53] moul commented on #165
Hi @Govinda-Fichtner, the PR #167 adds `TMPFS_XATTR` for all the 4.2 kernels (except the fedora one which already got this option enabled)

We will release this kernel in the beginning of the next week (we are working on the automated kernel builds here: https://github.com/scaleway/qa)

---

For now, if you can't wait, I suggest you to change your boot-script to point to the fedora one or ignore t

[2015-10-25 09:43] StefanScherer commented on #165
Awesome! I think we are happy with just a new Scaleway Image to choose from.

[2015-10-25 12:21] DieterReuter commented on #165
@moul Great! Thanks for your fast fix.

[2015-10-26 18:26] Govinda-Fichtner commented on #165
@moul Thanks a lot for the fast response. How do I get the Docker Image from the Scaleway Image Hub to boot with the new kernel? Currently it is version 4.0.5-235...

[2015-10-27 11:55] #165 closed

[2015-10-27 12:02] #158 closed

[2015-10-27 15:34] moul commented on #165
@Govinda-Fichtner the new bootscript is now available, the name is "4.2.5-docker #260", you can change it from the console or create a new docker server with the bootscript using scw: `scw run --bootscript=docker docker`

[2015-10-29 09:02] Govinda-Fichtner commented on #165
@moul Thanks you very much. It is working as expected and my xattr test is not failing any more.

[2015-10-29 09:15] moul commented on #165
perfect :)

[2015-11-04 16:43] moul opened #169 "Docker kernel: build the fuse module as a built-in module"
Should fix https://github.com/scaleway-community/scaleway-docker/pull/33

[2015-11-04 16:49] #169 closed

[2015-11-04 19:41] QuentinPerez commented on #71
fixed by https://github.com/scaleway/kernel-tools/pull/162/files ?

[2015-11-04 21:48] moul commented on #71
Yep :)

[2015-11-04 21:48] #71 closed

[2015-11-06 17:08] NoKriK opened #172 "Kernel support of ipset is missing"
Kernel support of ipset is missing.

[code]

[2015-11-09 09:56] #172 closed

[2015-11-09 12:05] clandmeter opened #176 "Better handle memory fragmentation."
@moul and @fabled as discussed on #alpine-linux

Please enable CONFIG_COMPACTION and CONFIG_SLUB.
This should prevent oom when memory gets fragmented.

[2015-11-09 12:08] clandmeter commented on #164
Maybe you can consider using alpine linux 4.1 config?

http://git.alpinelinux.org/cgit/aports/tree/main/linux-grsec

[2015-11-09 13:41] moul commented on #164
Do you know which patch set your are using for kernels 4.x ?

[2015-11-09 13:54] moul commented on #176
ping @aimxhaisse, is it ok for you too ?

[2015-11-09 14:25] clandmeter commented on #164
@ncopa, can you answer this? as you mostly take of these.

[2015-11-09 14:37] ncopa commented on #164
we (alpine linux) use unofficial port of grsecurity patch which we maintain our selves.

[2015-11-09 14:42] ncopa commented on #164
we also have an unofficial patch for 3.18.23 (which boots in qemu x86_64) but the .22 release had some nasty conflicts for fixing the NMI issue so we havent pushed that for production yet, as we need test it.

I dont think it should affect ARM though.

[2015-11-09 14:44] moul commented on #164
wow nice, are those patches publicly available ? do you have a link ?

[2015-11-09 14:56] aimxhaisse commented on #176
Yes, LGTM.

I don't know why we haven't SLUB enabled, it seems to be the recommended default setting (maybe it's a residue from the 3.2 legacy config). I'd advocate to use these settings on all flavors since it's not a 'local' feature, but a global change we might want everywhere.

[2015-11-09 16:18] moul commented on #176
Ok then, Quentin, can you enable CONFIG_SLUB ?

@aimxhaisse do you confirm that in our case, CONFIG_COMPACTION would be useless so we can skip it ?

[2015-11-09 16:54] QuentinPerez commented on #163
The next release will contain this option 😊

[2015-11-09 17:22] fabled commented on #176
I believe in this case `CONFIG_COMPACTION` is the more important option. It allows kernel to defragment physical memory to contiguous blocks when it's fragmented.

[2015-11-10 09:42] aimxhaisse commented on #176
Yes, sorry I mis-interpreted the reference to 'huge pages'  in the description of the option, I was under the impression it was specific to x86 huge-pages, but that's not the case.

LGTM for both options.

[2015-11-10 10:24] moul commented on #176
Both configs were updated, @QuentinPerez can you see with @aimxhaisse to start long-test runs against some of those kernels ?

[2015-11-11 12:19] clandmeter commented on #176
@moul when will new kernels with these options be available?

[2015-11-12 10:30] moul commented on #176
@clandmeter we will add a "beta" kernel today so you will be able to give a try
In the meantime, we are running our long stability&performance tests

If our tests are successful we will replace all the existing kernels with the new ones

[2015-11-12 15:57] moul commented on #176
We just released 2 kernels flagged as "BETA" :

- 3.2.34-std °32: Marvell LSP kernel + memory compaction and slub enabled
- 4.2.5-std °265: Mainline kernel + memory compaction and slub enabled

[2015-11-12 15:58] clandmeter commented on #176
Thank a lot. I will give them a try and report if i find any issues.

[2015-11-12 16:36] moul commented on #176
Thanks :)

[2015-11-14 14:02] grigorig commented on #150
This doesn't really make sense. Maybe the network infrastructure has some restrictions, but the servers themselves? The hardware receives and sends ethernet frames, a layer below IP.

Can you describe those alleged limitations?

[2015-11-16 10:19] moul commented on #150
The hardware limitation is not on the C1 node itself but on the blade containing the C1 servers, look at this: https://www.scaleway.com/features/, the first photo shows a blade with 18 C1 nodes.
The blade handles the power usage, serial but also the network between the node and the big backbones

Today we have a limitation on the blade and are working to get this fixed.
As soon as the blade and th

[2015-11-16 10:23] grigorig commented on #150
Thanks for the information, it makes more sense now. :)

I assume the deployment will be similar to online.net's servers where you can request a prefix delegation via DHCPv6-PD then. That is a reasonable solution. Can you share more details about the upcoming IPv6 deployment? E.g. what kind (length) of prefixes can we get delegated?

If you have some kind of beta of the IPv6 support, I'd be willin

[2015-11-16 14:30] grigorig commented on #148
CESA seems to be a bit limited unfortunately. There's no support for the interesting modes of operation, i.e. GCM. So it would have limited use for TLS, I guess.

[2015-11-16 15:14] moul commented on #150
Update: I managed to get IPv6 working between two nodes:

[code]

However, I needed to disable some filtering options from the blade, the hardware team is working on a patch

[2015-11-16 16:10] grigorig commented on #150
Looks good. Like I stated in the community thread, even simple local IPv6 connectivity would be quite helpful for me already.

[2015-11-16 18:42] vdavy commented on #150
I would be also interested in testing beta Ipv6

[2015-11-19 11:59] moul opened #180 "Bump to 4.3"
* [x] keep `4.2.5-std`, create a new `4.3-std`
* [x] bump `4.2.5-(!std)` to `4.3-($1)`

[2015-11-19 12:03] moul opened #181 "Bump 4.1.10 to 4.1.13"

[2015-11-19 12:13] QuentinPerez commented on #181
LGTM

[2015-11-19 12:39] #181 closed

[2015-11-19 13:48] shouze commented on #148
For the record, I experiment very bad performances when I request to some https only resources.

Typically when I execute:
[code]

#### With https
tcp:0.008, ssldone:0.512, total:0.520

#### Without https
tcp:0.008, ssldone:0.000, total:0.015

So... EVERY HTTPS REQUEST as a minimum cost of **500ms**... which is... BIG.

ping @moul can we expect to test on a C1 with cryptodev enabled very soon?

I

[2015-11-19 13:50] shouze commented on #148
Looks like this guy experiments exactly the same issue and cryptodev solved his problem:
http://archlinuxarm.org/forum/viewtopic.php?f=30&t=2452&hilit=cryptodev#p13811

[2015-11-19 13:57] wmark commented on #148
@shouze Use ECDSA certificates as remedy, and optionally my packages from:
https://community.scaleway.com/t/blitznote-ubuntu-repository/1087

[code]

[2015-11-19 15:09] shouze commented on #148
@wmark thx it's a lot faster... but in fact I was using curl for the demonstration.

My real problem seems to be `nodejs` in fact... I bet that the binary package I use from https://deb.nodesource.com/node_5.x/dists/vivid/main/binary-armhf/Packages includes a staticaly linked 1.0.2d version of openssl without the support of ChaCha20-Poly1305 from BoringSSL optimized for the Marvell Armada 370/XP)

[2015-11-19 15:48] wmark commented on #148
@shouze The cipher doesn't have an influence on how long a handshake takes. The latter depends on the scheme (PFS or not) and if RSA, ECDSA, (or PSK) are used. DHE_RSA will be very slow, ECDHE_ECDSA fast (but requires an high influx of entropy („randomness“)).

Anyway, as soon as *cryptodev* is in you will need to compile and re-compile OpenSSL to support it.

[2015-11-20 16:59] shouze commented on #148
@wmark ok in fact...openssl is duplicated into [nodejs repo](https://github.com/nodejs/node/tree/master/deps/openssl) to statically link it to the node binary so whatever the openssl lib I install on my Linux distrib it won't affect https node performance.

Of cours I will need to compile nodejs with a patched version of openssl of my own to check the room for improvement. Can you tell me the inst

[2015-11-24 15:30] #180 closed

[2015-11-27 11:38] moul commented on #128
Done in scaleway/qa

[2015-11-27 11:38] #128 closed

[2015-11-27 18:00] McKay1717 commented on #150
The kernel configuration need to be updated with that :
CONFIG_NF_CONNTRACK_IPV6=y

[2015-12-04 00:38] grigorig commented on #150
@moul, is there any progress with IPv6 on the C1 hardware?

[2015-12-04 11:46] moul commented on #150
@grigorig we are waiting for the hardware team to release a new software version with ipv6 filtering support
In the meantime, we are preparing our infrastructure, so you should get full ipv6 support (not only local one)

I will update the ticket as soon as we have this feature in beta :)

[2015-12-18 14:24] anisse opened #194 "Add a kernel with LPAE"
It would be nice to have the possibility to create bigger memory mappings, in particular when we want to overcommit a lot of memory in a a single process, or eventually use a lot of swap.

Would you consider enabling ARM_LPAE?

[2015-12-18 14:26] moul commented on #194
Hi @anisse, thank you for your suggestion,

No problem for me
ping @aimxhaisse

[2015-12-18 14:57] aimxhaisse commented on #194
Thanks @anisse !

I see no problem to enable it either.

[2015-12-18 15:02] anisse commented on #194
Hmm, I 'm reconsidering it. LPAE might have a (small) performance impact, so it should only be enabled for all your customers if you find it acceptable. Also, what I said in the first post is wrong, since LPAE wouln't enlarge a single process virtual space, which is my goal; it only allows addressing more physical RAM, which isn't something useful on C1 servers that don't go over 2GB of RAM.

TBH,

[2015-12-18 15:08] moul commented on #194
ping @folays

[2016-01-15 11:43] dragon2611 commented on #150
Why don't you run some 6in4 gateways/tunnel servers on hardware connected to the scaleway network in the meant time for people who want IPv6 NOW?

I mean come on you are a major datacentre I'm sure finding a few servers for that wouldn't be a problem ;-)

If they're on your network they could be reachable from the private IPv4 ranges as well saving on public IP's.

[2016-01-15 17:34] moul opened #201 "Release scaleway-c1.dts mainline"

[2016-01-28 17:16] HLFH commented on #150
@moul Hi. Is there any ETA yet for native IPv6 support ion C1? Could we try the alpha or the beta?

[2016-02-02 11:28] moul opened #207 ""Could not insert module" in 4.4.0-std-1"
Related with https://github.com/scaleway/image-tools/issues/154

[2016-02-02 13:45] moul commented on #207
I think we only miss a `demod -a`

[code]

[2016-02-11 17:38] zx2c4 opened #208 "Module.symvers is missing"
The README.md says to run `wget http://mirror.scaleway.com/kernel/$(uname -r)/Module.symvers` as part of the process to build custom modules.

Unfortunately, the Scaleway scripts forget to upload this file!

The fix is to simply copy Module.symvers from the build directory to that URL after building the kernel images. Should be pretty easy.

[2016-02-17 20:18] elcore opened #209 "armv7l 4.4 std #2 (latest) [UNSUPP]"
Hello,

while booting with `armv7l 4.4 std #2 (latest)` the following error occurs:

`[UNSUPP] Starting of Arbitrary Executable File Formats Fi...m Automount Point not supported.`

OS: Ubuntu Wily Werewolf

[2016-02-17 20:32] moul commented on #209
Hi @elcore, thank you for reporting

@QuentinPerez, can you give a look ?

[2016-02-17 23:17] QuentinPerez commented on #209
I think that the problem come from ```binfmt_misc``` module, ```depmod -a && reboot``` seems fix the issue

[2016-02-18 00:34] elcore commented on #209
Hi @QuentinPerez,

Yes, you are right. It was clear that it was related to binfmt_misc, but I never thought that depmod -a would fix it. I should have tested it before committing an issue :-(

Keep it simple ;-)

[2016-02-18 10:00] moul commented on #209
Ok cool, in the future versions of the images, the script that sync the kernel modules will automatically perform a `depmod -a`

[2016-02-18 16:58] elcore commented on #209
Great News :-)

[2016-02-18 16:58] #209 closed

[2016-02-19 11:34] #208 closed

[2016-02-19 11:36] moul commented on #208
The fix seems to work, I'm bumping and rebuilding all the kernels right now

Everything expected to be released today

[2016-02-19 13:08] moul commented on #208
before

[code]

---

after

[code]

[2016-02-19 16:49] moul opened #212 "Increase the ease of building custom kernel modules"
I did some experiments (see https://gist.github.com/moul/cf67f5cab6ffe6cad0a7)

When building the kernel using `make tar-pkg`, there is nothing except the kernel image and modules.

When building the kernel using `make deb-pkg`, there are 4 generated debian packages:

* equivalent of `tar-pkg` (just `/boot` + `/lib/modules/**/*.ko`)
* same as above with debug
* libc
* **linux-headers**

We need to

[2016-02-20 12:57] #104 closed

[2016-03-03 09:13] 4mig4 commented on #150
What they need to do is 4in6 not 6in4 if they have a native IPv6 network which they should

[2016-03-03 09:14] 4mig4 commented on #150
and that requires something called 4rd RFC7600

[2016-03-11 09:42] moul opened #224 "Add missing netfilter modules for Rancher"
Fix: https://github.com/scaleway-community/scaleway-docker/issues/56

[2016-03-11 09:45] #224 closed

[2016-03-11 09:47] moul commented on #207
Fixed from image-tools

[2016-03-11 09:47] #207 closed

[2016-03-11 09:57] moul opened #227 "Add a grsec-enabled kernel for x86_64"

[2016-03-12 19:26] matunixe opened #228 "Iptables problem on C2L"
Hello,

When I tried to run Docker on the brand new C2L I got the following error.
[code]

Daemon crash every time.
Hope somebody can help. :+1:

[2016-03-12 19:27] moul commented on #228
Can you switch to the "x86_64 4.4.5-docker" bootscript (https://www.scaleway.com/docs/bootscript-and-how-to-use-it/), reboot and try again ?

[2016-03-12 20:38] matunixe commented on #228
Hi @moul, thanks for answering.

I can't actually, because of the 'production' state of the concerned server. Maybe I can try on http://instantcloud.io ?

[2016-03-12 20:39] moul commented on #228
InstantCloud.io servers are running the "x86_64 4.4.5-docker" bootscript, so yes, you can try your iptables commands :)

[2016-03-16 10:56] moul opened #230 "Add GRE support"
From: https://twitter.com/enzolaroche/status/709073228333862912

[2016-03-16 10:56] moul opened #231 "Add CoreOS compatible kernel"

[2016-03-16 11:16] moul commented on #230
All the GRE optional modules were already built and loadable (`find /lib/modules -name "*gre*.ko"`).

I just added `CONFIG_NET_IPGRE_BROADCAST=y`:

which looks like a normal Ethernet LAN (Local Area Network),
but can be distributed all over the Internet.
If you want to do that, say Y here and to "IP multicast routing" below.

---

I will launch a new kernel build with this option enabled

[2016-03-17 11:34] moul opened #233 "Bump armv7l kernels + enable ip_tables support"
See https://github.com/scaleway/image-tools/issues/154#issuecomment-197810134

[2016-03-17 11:50] #233 closed

[2016-03-17 12:47] vixns opened #235 "Add ISCSI support"
Please consider adding iscsi support

    +CONFIG_BLK_DEV_BSGLIB=y
    +CONFIG_SCSI_ISCSI_ATTRS=m
    +CONFIG_ISCSI_TCP=m

[2016-03-17 14:00] QuentinPerez commented on #235
Hi @vixns, thank for your issue,
Can you take a look at #236 ?

[2016-03-17 15:07] vixns commented on #235
Seems good, will test it ASAP you published the new bootscripts.
Is there a way to use custom / dev bootscripts/kernels ?

[2016-03-22 17:09] moul commented on #228
@matunixe, I released a new docker bootscript today, and I can confirm iptables is working

If you still encounter a problem, do not hesitate to reopen this issue

[2016-03-22 17:09] #228 closed

[2016-03-22 17:09] moul commented on #231
Done

[2016-03-22 17:09] #231 closed

[2016-03-22 17:11] moul commented on #235
The new bootscripts are released with ISCSI support :)

Not yet, it's something we are working on, but without ETA

[2016-03-22 19:39] Sveeeeeen commented on #60
But the new servers do. KVM support would be great!

[2016-03-23 10:21] moul commented on #60
@Sveeeeeen, I released new bootscripts earlier this week with KVM support

You can [switch to a newer bootscript](https://www.scaleway.com/docs/bootscript-and-how-to-use-it/) to get new features.

If you still miss some modules, just ping me here :)

[2016-03-29 11:05] skimpax opened #246 "Add complete ipset support"
Kernel configuration for ipset is partial only, thus not functional:

ipset module is enabled but dedicated handlers (eg. hash:net, hash:ip) are not configured, thus ipset is not usable.
In /proc/config.gz, CONFIG_IP_SET_XXXXX shall be configured.
More over, CONFIG_IP_SET_MAX=256 is a little bit short (512 ?)

See traces below:

Welcome on Debian Sid/Unstable (GNU/Linux 4.4.4-std-1 armv7l )

Syste

[2016-03-31 15:47] moul commented on #150
Native IPV6 support is now available for C2 servers and VPS offers

[2016-03-31 17:03] grigorig commented on #150
Unfortunately, the way you implemented IPv6 on C2/VPS is the best example of how not do it I have seen yet. And it's off topic here, too.

[2016-03-31 17:15] HLFH commented on #150
@grigorig Hi. Could you argue to better understand your point?

[2016-03-31 17:21] grigorig commented on #150
@HLFH sure.

Each server just gets a single IPv6 address in a /127 subnet. The recommendation is to allocate at least a /64 per node, so that's really bad and precludes all of the use cases that are possible with the big address space of IPv6. Furthermore, it looks like a /64 prefix is shared among multiple customers. Since /64 is considered the smallest prefix given to an end node, any IP based b

[2016-03-31 17:22] meyskens commented on #150
I agree with @grigorig

[2016-03-31 17:37] HLFH commented on #150
@moul Hi. I'm asking if IPv6 reverse DNS delegation is supported? On Online.net, it could work. Does that work too on Scaleway?

[2016-04-01 09:31] NoKriK commented on #150
@grigorig, @meyskens,

You missed that this is the first step of our IPv6 deployment. We're announcing IPv6 **connectivity** and as stated, not a full flexible implementation.
To route a /64 on a node, you first need an IPv6 connectivity. ;)

These IPv6 are assigned to nodes and not to customers, there is no reverse DNS delegation on the nodes IPs.

Stay tuned.

[2016-04-01 10:27] grigorig commented on #150
OK then. But this is barely usable, there isn't really much point to releasing IPv6 support in such an unfinished state.

Also, can you give any statement about IPv6 support on C1?

[2016-04-01 11:17] bchatelard opened #247 "Missing conntrack module on ipv6"
[code]

[2016-04-02 10:58] iPerky opened #249 "Archlinux-Arm armv7l - Kernels - iptables modules"
Hello

What kernel should I use for archlinux-arm?
ufw does not work because of iptables modules.
[code]
or
Can I install archlinux-arm kernels and skip scaleway boot scripts?
[code]

[2016-04-02 19:05] moul commented on #249
Hi @iPerky,

You can safely switch to this bootscript: `armv7l 4.5 std #2"`

I think that the current ArchLinux image use a deprecated kernel module syncing script.

Can you give me the result of `cat /etc/scw-release` so I can get info about your exacte image version ?

You can hotfix this using:

[code]

This command will probably be useless, for now you can only use bootscripts to boot your ser

[2016-04-03 17:17] iPerky commented on #249
Hello

Here is the output
[code]

but iptables modules is still an issue
[code]
[code]

[2016-04-04 18:44] moul commented on #249
Hi @iPerky,

We had syncing troubles on some mirrors, everything should be fixed now, can you try to run the scw-sync-kernel-modules again ?

Sorry for the convenience and thank you for your full report

[2016-04-05 16:33] kentonv opened #250 "Please enable CONFIG_SECCOMP (again)"
Hi Scaleway,

#158 requested seccomp be enabled and #161 enabled it, but it appears that change was lost somewhere along the line, as many of the kernel configs today do not enable seccomp:

https://github.com/scaleway/kernel-tools/search?p=2&q=CONFIG_SECCOMP&utf8=%E2%9C%93

I work on Sandstorm.io, and we have now received multiple reports from Scaleway users that Sandstorm apps won't start on the

[2016-04-05 17:38] QuentinPerez commented on #250
Hi @kentonv

We have added SECCOMP for the x86_64 kernels, it will be available in the next release 😊

[2016-04-05 17:41] patrickod commented on #250
@QuentinPerez thanks for addressing this so quickly! I don't quite understand the turnaround between this fix having been merged and this becoming generally available in the scaleway control panel. Could you elaborate a bit more on when this is expected to be available to end-users? Thanks!

[2016-04-08 18:40] dieulot commented on #172
I’ve created a Debian Jessie server and an Ubuntu (default choice) server on Scaleway and I’m getting this problem right now.

[2016-04-09 13:27] QuentinPerez commented on #247
The PR #248 has been merged

[2016-04-09 13:27] #247 closed

[2016-04-19 09:59] QuentinPerez commented on #246
@skimpax , the PR has been merged  😊

If you still encounter a problem, do not hesitate to reopen this issue

[2016-04-19 09:59] #246 closed

[2016-04-19 16:12] moul commented on #250
Hi @patrickod,

Here is our process to release new kernels:

1. add/update `.config` files and patches if needed on https://github.com/scaleway/kernel-tools
2. trigger a build on https://github.com/scaleway/qa, example: https://github.com/scaleway/qa/pull/560
3. Travis builds the new kernel and store it on a temporary store, see https://travis-ci.org/scaleway/qa/builds/123978731 for details
4. syn

[2016-04-19 16:12] moul commented on #230
Kernels are rebuilt

[2016-04-19 16:12] #230 closed

[2016-04-19 16:13] moul commented on #235
@vixns, do you need some more help on a point ?

[2016-04-19 16:14] moul commented on #249
Hi @iPerky, do you need some more help for something ?

[2016-04-19 16:39] iPerky commented on #249
No more help needed.
Thank you for your time

[2016-04-19 16:39] #249 closed

[2016-04-21 21:12] ndarilek commented on #250
Which kernels should have this fix? I still can't get Sandstorm working on the 4.5.1 Docker kernel and Ubuntu Wily.

[2016-04-21 21:21] ndarilek commented on #250
Interestingly enough, the failure mode is now different, and whereas before I got seccomp errors in my logs, now I get nothing other than a silent failure. So the failure to launch Sandstorm might not be related to this issue, but something is definitely very badly broken in unexpected ways. I've never had these issues on a variety of hosting providers. Unfortunately I'm out of time to debug for t

[2016-04-22 09:29] QuentinPerez commented on #250
Hi @ndarilek,

I installed Sandstrom on our docker image with the kernel 4.5.1 docker, and I have not been able to reproduce your problem

Can you give me more details ?

[2016-04-22 13:44] ndarilek commented on #250
Hello,

You're right, and I apologize. I've been struggling with this and other
Scaleway issues all day yesterday to perform tasks I assumed would be
easy, and I just assumed this wouldn't work because I'm still having
Sandstorm issues on my original host. I later independently verified
that Sandstorm does indeed work on a new server install, so my existing
issues aren't general ones. Sorry for ju

[2016-04-22 15:24] jojobo opened #257 "apt-get --reinstall install linux-headers-`uname -r` fails"
sudo apt-get --reinstall install linux-headers-`uname -r` fails, also  "linux-image-extra-$(uname -r)" fails.
Tried to reinstall kernel according to your docs, first it needed apt-get install gcc and apt-get install  libssl-dev , otherwise the process would fail. Then it failed on 'make menuconfig KERNEL=3.18-std' with error No rule to make target `menuconfig'.
Scaleway is turning such a headache

[2016-04-23 06:32] skimpax opened #258 "Add comple ipset support on armv7l kernels"
Issue https://github.com/scaleway/kernel-tools/issues/246 requested for complete ipset support.
Fix (https://github.com/scaleway/kernel-tools/pull/252) was done for x86_64 kernels only.

Today, both arch (armv7l/x86_64) are not in sync in their kernel configuration regarding ipset.
Moreover, the issue 246 was initially raised regarding armv7l arch.

Please propagate same fix to armv7l kernels.

[2016-04-23 13:32] ayufan opened #259 "Please enable aes-ni"
Please enable CONFIG_CRYPTO_AES_NI_INTEL and CONFIG_CRYPTO_AES_X86_64 for X86_64 kernels.

[2016-04-23 20:11] moul commented on #259
Hi @ayufan

Added with #260, we will release new kernels at the beginning of the next week

[2016-04-23 20:12] moul commented on #258
Hi @skimpax, you're right,

We will propagate the ipset fixes to armv7l and try to always apply new changes on both architectures.
Do you already need other features on armv7l that you can only find in x86_64 ?

[2016-04-24 14:16] #259 closed

[2016-04-24 15:21] skimpax commented on #258
I did not notice any other diff in between both arch config but I did not search for them, unless the one I was willing (ipset).
Yes, applying change to all arch (unless arch specific fix) should ease support from your side afterward...

[2016-04-24 17:16] moul commented on #258
definitely!
thanks for your feedback, and do not hesitate if you see other differences

[2016-04-25 15:02] #258 closed

[2016-04-25 15:53] moul commented on #257
Hi @jojobo,

---

At boot, we are loading our own kernel before loading your disk, see https://www.scaleway.com/docs/bootscript-and-how-to-use-it/

So basically, if you `apt-get install linux-headers`, *aptitude* will download the package and write it on your disk, but it won't be taken into account because our bootscript is always loaded before your disk content

We are working on a `boot on loca

[2016-04-25 16:44] jojobo commented on #257
@moul thanks for thourough answer.
I'm trying to install flynn (flynn.io) and here's the issue https://github.com/flynn/flynn/issues/2696 .
And here's a suggestion from flynn member https://github.com/flynn/flynn/issues/2709#issuecomment-213594407 .
How can I solve this now?

[2016-04-25 18:27] tgagor opened #266 "Can't create statefull firewall using ip6tables"
Hello again,

I was configuring iptables on my vc1 instance and found that I can't create statefull firewall for IPv6, it works fine for IPv4. Any time I try to use `state` module I receive error, ex:
[code]
Same command for IPv4 works fine. I still may use stateless rules but it's less optimal configuration.

On current version of pure Debian/Jessie this command works like expected:
[code]

I see

[2016-04-25 18:44] moul commented on #257
Ok nice, can you just try to use the **Docker** bootscript then ? it is shipped with **AUFS** support

Else, can you give us instructions to reproduce your flynn installation error, so we can try to deeply investigate the error ?

[2016-04-25 18:46] jojobo commented on #257
I'll try and let you know soon.

[2016-04-25 18:48] moul commented on #266
Hi @tgagor, thanks for reporting,

We will release new kernel by today or tomorrow with more complete IPV6 and firewalling support,

As soon as you see new bootscript with version 4.5.2 on cloud.scaleway.com, can you try to switch to the latest one and tell me here if it fixes your issue
See https://www.scaleway.com/docs/bootscript-and-how-to-use-it/

Else we will add the missing modules

[2016-04-25 19:24] jojobo commented on #257
I ran the installation manually without apt-get install -y "linux-headers-$(uname -r)" or "linux-image-extra-$(uname -r)", cause they return `Unable to locate package linux-headers-4.5.1-docker-1
`.
But installation still fails with:
`Setting up linux-headers-4.4.0-21-lowlatency (4.4.0-21.37~14.04.1) ...
Examining /etc/kernel/header_postinst.d.
run-parts: executing /etc/kernel/header_postinst.d/dk

[2016-04-25 19:43] moul commented on #257
Ok, so I need to get zfs into the kernel

Can you give me instructions about how you manually tried to install flynn so I can reproduce your environment ? it will be a lot easier for me to try my fixes

[2016-04-25 19:53] jojobo commented on #257
To install manually, you need to run https://github.com/flynn/flynn/blob/v20160412.0/script/install-flynn.tmpl on server, WITHOUT apt-get install -y "linux-headers-$(uname -r)"  and "linux-image-extra-$(uname -r)", and `run apt-key adv --keyserver keyserver.ubuntu.com --recv E871F18B51E0147C77796AC81196BA81F6B0FC61`.
That's it.

[2016-04-25 21:57] moul commented on #257
Thanks, I will give a try and tell you here how it is going

[2016-04-25 22:07] tgagor commented on #266
I will check that. Thanks.

[2016-04-25 23:39] moul commented on #266
New bootscripts are released

[2016-04-25 23:40] moul commented on #258
I just released new armv7l bootscripts

[2016-04-26 05:44] tgagor commented on #266
State module is working. Thank you.

[2016-04-26 05:44] #266 closed

[2016-04-26 07:38] josephglanville commented on #257
@moul is there a reason a non-vanilla kernel needs to be used? I imagine something in your netboot/remote disk infrastructure needs to be compiled in rather than loaded from initrd?
I'm not familar with Scaleway so apologies if this something already discussed elsewhere.

If you were able to use vanilla kernels you could then just use the headers available in the distro packages to build DKMS modu

[2016-04-26 12:20] moul commented on #257
@josephglanville

I suggest you to look at this schema: https://github.com/scaleway/initrd/tree/master/Linux#schema-boot-timeline

In short: we are attaching your volumes (disks) using NBD which is not handled by the boot loaders (u-boot for C1, ipxe for VPS and C2*), so we can't get your kernel from your `/boot` folder and that's why we created bootscript to give you ability to use different kern

[2016-04-27 15:47] MPW1412 opened #267 "Please enable L2TP_netlink"
Hello,

please enable L2TP_netlink as module.

To do so, change this line:

[code]

Regards,
Matthias

[2016-04-27 15:57] #267 closed

[2016-04-27 15:57] moul commented on #267
Hi @MPW1412

I just added the missing module in the .config file, we will rebuild and deploy new kernels by the end of the week

[2016-04-27 16:10] MPW1412 commented on #267
Merci!

[2016-05-02 21:43] jojobo commented on #257
Hi @moul ! Any progress yet on this issue ?

[2016-05-03 08:13] moul commented on #257
@jojobo, no sorry, I still have issues releasing a kernel in a way dkms can work out of the box, as soon as I fix this, it would be a lot easier to build new modules and release zfs for this issue

[2016-05-03 09:47] jojobo commented on #257
@moul thanks for working on this.

[2016-05-14 07:25] bbraga commented on #257
@moul currently using DigitalOcean because I can deploy with Flynn there, will be waiting for this to be supported and to work out of the box so I can leverage Scaleway.

Thank you for taking this on :)

[2016-05-14 12:25] moul commented on #257
@bbraga, ok :)

actually, we have successfuly built zfs module using dkms, but I didn't found a solution to package it with the kernel
so basically you can have flynn running on Scaleway right now, but it may take about 1 hour to prepare the host before being able to install zfs :/

[2016-05-14 12:27] moul commented on #257
Here is the `$> history` output of an host where I successfully built zfs: https://gist.github.com/moul/18e8ec495728e9db3c1e253719bd0d49

[2016-05-19 14:12] albertdb opened #271 "Please enable CONFIG_KEXEC"
Hi!

Given that there is no RancherOS image (although there is a 4.5.4-rancher kernel that is not directly available), I tried to boot RancherOS though kexec, but std kernel does not have CONFIG_KEXEC enabled and 4.5.4-coreos kernel (which has it) is not compatible with Ubuntu/Alpine images (no network).

Would you please enable this flag? Being able to use RancherOS on your platform would be awes

[2016-05-19 15:06] albertdb commented on #271
Wow! You are quick! :)

[2016-05-19 15:30] moul opened #273 "Enable ZRAM"

[2016-05-19 15:42] albertdb commented on #273
Please, don't forget to add LZ4 related options:
[code]

[2016-05-19 15:43] moul commented on #273
yep !

[2016-05-19 15:43] #271 closed

[2016-05-19 15:44] moul commented on #271
Waiting for #273 to be fixed before releasing a new kernel

[2016-05-19 15:47] albertdb commented on #273
I pasted the wrong options, check again please, I've edited the comment.

[2016-05-19 16:22] #273 closed

[2016-05-19 16:29] moul commented on #273
Builds are triggered: https://github.com/scaleway/qa/pulls

[2016-05-19 16:30] moul commented on #273
The new kernels will probably be released tomorrow

[2016-05-19 21:45] moul opened #275 "Find a way to compile DKMS modules from this builder"

[2016-05-20 08:52] moul commented on #257
I added a note about how to build modules using DKMS on the README.md, I also created a new issue to try to do it from our kernel builder, so you can have the module directly without waiting for about 10 minutes

[2016-05-20 09:33] albertdb commented on #273
I'm eager to test them, specially for the concerns expained in #271 :)

[2016-05-20 10:40] moul commented on #273
@albertdb, same for me :) I'm preparing a "boot on local kernel" flag on the initrd :)

[2016-05-20 10:52] albertdb commented on #273
@moul You've made my day. That would make possible to boot RancherOS without having installed any other OS (for chain loading), as I was planning.

Booting RancherOS with kexec is as simple as (having secondary disk already prepared):

`kexec -l rancheros/vmlinuz --initrd=rancheros/initrd --append="showopts console=ttyS0,115200 nousb vga=0 root=/dev/vdb ip=:::::eth0:" -f`

[2016-05-20 16:35] #61 closed

[2016-05-28 16:26] jojobo commented on #257
@moul I went through your gist but it fails.
`root@scw-1d76da:/usr/src/zfs-0.6.5.6/scripts# cat dkms.con
cat: dkms.con: No such file or directory
root@scw-1d76da:/usr/src/zfs-0.6.5.6/scripts# dkms
root@scw-1d76da:/usr/src/zfs-0.6.5.6/scripts# ^C
root@scw-1d76da:/usr/src/zfs-0.6.5.6/scripts#
root@scw-1d76da:/usr/src/zfs-0.6.5.6/scripts# apt-get install zfs-utils
Reading package lists... Done
Buildi

[2016-05-29 02:57] moul commented on #257
Hi @jojobo, can you try this instead: https://github.com/scaleway/kernel-tools#how-to-build-a-custom-kernel-module ?

[2016-05-29 13:07] jojobo commented on #257
@moul . I tried your suggestion, but install zfsutils-linux fails again.
` HOSTCC  scripts/conmakehash
  HOSTCC  scripts/sortextable
  HOSTCC  scripts/asn1_compiler
  HOSTCC  scripts/extract-cert
make: Leaving directory `/usr/src/linux-4.5.1'
root@scw-413b14:~# apt-get install zfsutils-linux
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locat

[2016-05-30 09:34] moul commented on #257
How ok, apparently your error is not related with the kernel stuff, but with aptitude

Can you ensure your local cache is update with `apt-get update` then run the `apt-get install zfs-utils-linux` ?

If it still doesn't work, can you give me the result of

* `apt-cache search zfs`
* `cat /etc/scw-release`
* `lsb_release -a`

Thanks

[2016-05-30 11:41] jojobo commented on #257
Still not working @moul .
`E: Unable to locate package zfsutils-linux
root@scw-451fff:~# apt-cache search zfs
parted - disk partition manipulator
bzflag-server - bzfs - BZFlag game server
zfs-fuse - ZFS on FUSE
root@scw-451fff:~# cat /etc/scw-release
IMAGE_FLAVORS="common docker-based feature-motd upstart"
IMAGE_TOOLS_CHECKOUT="764a58e59811d5f6217a3f71a4e009d6ec3e5138"
IMAGE_ID="Ubuntu Trusty"
IMA

[2016-05-30 11:57] jgillich commented on #257
@jojobo Ubuntu 14.04 doesn't ship with zfs, only 16.04 does.

[2016-05-30 13:17] moul commented on #257
Thanks @jgillich

@jojobo, can you try again on a more recent Ubuntu ?

[2016-05-30 13:19] jojobo commented on #257
@moul, @jgillich , the whole point was to install flynn, and flynn recommended ubuntu 14.04. I don't know if they support ubuntu 16 yet.

[2016-05-30 13:27] moul commented on #257
do you have a contact from the flynn team ? maybe they can help us to fix this the best way

[2016-05-30 13:34] jojobo commented on #257
I think you already seen I raised this issue on flynn/flynn https://github.com/flynn/flynn/issues/2696 https://github.com/flynn/flynn/issues/2709 . The other participants are from flynn team.

[2016-05-30 13:45] jgillich commented on #257
`zfsutils-linux` is the package name on 16.04, the flynn install script adds a [PPA](https://launchpad.net/~zfs-native/+archive/ubuntu/stable) that has `ubuntu-zfs` (looks like both the userland and the kernel module, so install will probably fail).

[2016-05-30 14:15] josephglanville commented on #257
@jgillich the `ubuntu-zfs` package builds the kernel modules using DKMS, even if it ships some pre-compiled modules those would be intended for use via DKMS caching mechanism.

Hailing from `flynn/flynn` here. Unfortunately I don't use Scaleway so it's harder for me understand why DKMS doesn't "just work".

[2016-05-31 13:03] jojobo commented on #257
@moul so, do you think it's impossible to install flynn on scaleway for now?

[2016-06-09 11:05] albertdb commented on #271
RancherOS works prefectly when installed on a secondary disk (VC1M and VC1L) and booted through KEXEC.

[2016-06-10 13:41] scorpnode opened #279 "hugeadm:ERROR: kernel does not support huge pages"
Please fix kernel support for Huge Pages.
I need this for scylladb
cat /proc/meminfo no hugepages support at all.

Thanks

[2016-06-10 13:43] QuentinPerez commented on #279
Hi @scorpnode,

Can you give us your kernel version and your architecture ?

[2016-06-10 13:58] scorpnode commented on #279
4.5.4-std-1
x86_64 ubuntu

[2016-06-14 06:56] jojobo commented on #257
Hi @moul. I saw some new baremetal offers at scaleway. Does flynn work on any of those or same kernel issues there as well? Thanks.

[2016-06-14 12:45] moul commented on #257
@jojobo

As I successfully installed ZFS, yes I think we can install flynn

My concern was about the way we are offering the kernels, I would love to propose a pre-build ZFS kernel module to avoid these manual commands + waiting for some minutes for the kernel module build time

---

For now, I suggest you to setup your server to be DKMS-compatible using this guide: https://github.com/scaleway/ker

[2016-06-14 17:16] jojobo commented on #257
@moul . We already discussed this, flynn needs ubuntu 14.04, and your installation guide requires ubuntu 16.04. So we need zfs on 14.04, which fails for now.

[2016-06-14 17:33] neu3no opened #282 "enable support for ip rules"
Hy, i already asked the support and hey told me to make a request here.

Can you may include
CONFIG_NETFILTER_NETLINK=y
CONFIG_NETFILTER_NETLINK_QUEUE=y
CONFIG_NETFILTER_NETLINK_LOG=y
CONFIG_NF_CT_NETLINK=y
CONFIG_SCSI_NETLINK=y
CONFIG_IP_ADVANCED_ROUTER=y
CONFIG_NET_SCH_INGRESS=y
CONFIG_NET_SCHED=y
CONFIG_IP_MULTIPLE_TABLES=y
CONFIG_NETFILTER_XT_TARGET_MARK=y
in the kernel config for enabling ip

[2016-06-14 19:09] QuentinPerez commented on #282
Hi @neu3no,

Your config are enable as module in the kernel 4.5.6-std except for `CONFIG_SCSI_NETLINK` that I will add.
I release the kernels tomorrow ☺️ .

[2016-06-15 10:41] Rahul91 opened #283 "Unable to install virtualbox-dkms"
I am trying to run vagrant in scaleway server, while I am able to install virtualbox and vagrant via apt-get, I get the following error when installing virtualbox-dkms

`root@scalewayIP:~# apt-get install virtualbox-dkms`
`Reading package lists... Done`
`Building dependency tree `
`Reading state information... Done`
`E: Unable to locate package virtualbox-dkms`

I also found this open issue [apt-g

[2016-06-15 19:47] neu3no commented on #282
\o/ thx!

[2016-06-15 19:47] #282 closed

[2016-06-15 22:14] moul commented on #283
Hi @Rahul91,

I successfuly built other DKMS modules using the default bootscript by preparing my server with these steps: https://github.com/scaleway/kernel-tools#how-to-build-a-custom-kernel-module

Can you try to prepare your server for DKMS and run your last `apt-get` command again ?

[2016-06-16 06:26] Rahul91 commented on #283
Hi moul,

I followed the steps mentioned in [https://gist.github.com/Rahul91/f051a391fac62ccebb581370b0ac644d](https://github.com/scaleway/kernel-tools#how-to-build-a-custom-kernel-module) script,  but could not install virtualbox-dkms using apt-get afterwards

Here is my [gist](https://gist.github.com/Rahul91/f051a391fac62ccebb581370b0ac644d). Please check if I am doing anything wrong.

[2016-06-16 20:32] jronnblom opened #285 "Add ipset to Ubuntu 16.04 kernel"
See this, https://github.com/scaleway/kernel-tools/issues/246

Its the same on Ubuntu 16.04
[code]

[2016-06-16 20:38] QuentinPerez commented on #285
Hi @jronnblom

There are enable in the latest kernels, you can upgrade your boot script with the [console](https://cloud.scaleway.com)
[code]

[2016-06-18 11:53] jronnblom commented on #285
Thanks!

My mistake since I thought the latest kernel was in the default image.

-J

[2016-06-18 11:53] #285 closed

[2016-06-18 12:22] jronnblom opened #287 "CONFIG_TCP_MD5SIG is not set"
Hi,

CONFIG_TCP_MD5SIG is needed among other things for bird the BGP routing daemon.
[code]

[2016-06-18 13:41] xymor commented on #283
Which kernel version are you targeting?

[2016-06-19 03:02] epiloque opened #288 "centos/fedora aufs & docker's optional features"
There are few things missing from `4.5.4-fedora-1` (running an arm version) most notably the aufs support.

[code]

[2016-06-19 03:07] #288 closed

[2016-06-20 07:33] Rahul91 commented on #283
@xymor, I am targeting 4.5.1 kernel version, please find the output of uname -a output below.
[code]

[2016-06-21 10:40] Tiki-God commented on #150
Hey, this issue is marked as "help wanted".  What help do you need to get this working on C1?

[2016-06-26 19:39] jbbr opened #289 "Support IP_VS in docker kernel"
In Docker 1.12 (currently on RC2) will be a new swarm orchestration feature. It's using IPVS for load balancing. Unfortunately the required kernel module `ip_vs` is not available in scaleway's kernel images.

I had a look at the .config of current Ubuntu 16.04 (Kernel 4.4.0). They have these flags:

[code]
and many more. I assume this can be easily enabled in menuconfig.

It would be great to be a

[2016-06-28 11:01] cjktan opened #290 "audit support"
It looks like the kernel does not have 'audit' support loaded:
[code]

This is standard in CentOS. Can you please help enable it? The cause appears to be here:

https://github.com/scaleway/kernel-tools/blob/master/tools/configs/x86_64-mainline.conf#L30

Thanks!

[2016-06-28 12:11] #279 closed

[2016-06-29 21:25] #287 closed

[2016-06-29 21:25] #289 closed

[2016-06-29 21:25] #290 closed

[2016-06-30 19:20] epiloque opened #292 "CentOS can't boot with the Fedora bootscript"

[2016-06-30 19:23] QuentinPerez commented on #292
Hi @epiloque,

Thank you for your feedback ☺️, we will investigate but can you tell us, why do you want use this bootscript for centOS ?

[2016-06-30 20:13] epiloque commented on #292
selinux support mostly

[2016-06-30 21:43] FlorianHeigl commented on #259
Hi,

I've installed my whole environment as of last week.
There is no aes-ni module in the kernel.

[code]

[2016-07-01 14:41] QuentinPerez commented on #290
Hi @cjktan, thank you for your feedback

I released the kernel `x86_64 std #2` with the AUDIT support, can you change your bootscript and reboot ?

[2016-07-01 15:43] moul commented on #259
Can you [switch your bootscript](https://www.scaleway.com/docs/bootscript-and-how-to-use-it/) to the latest std one ?

[2016-07-02 13:22] FlorianHeigl commented on #259
Hi,

I had not modified it, so it was at the default, called "stable/latest"
I've changed it to "x86_64 4.5.7 std #2" and am testing.

[2016-07-02 13:27] FlorianHeigl commented on #259
That one seems fine:

[code]

[2016-07-02 15:56] jbbr opened #293 "Support docker swarm mode / ip_vs_rr"
I opened #289 in the past, requesting support for IPVS.
It's now live, thanks for that!

Unfortunately, docker swarm 1.12rc2/3 still does not work on Scaleway servers using Ubuntu xenial or the Docker image and the new docker2 bootscript.

The same does work fine on local kvm boxes and also on competitors like digitalocean, azure...
That why I opened an issue here instead of one in the docker proj

[2016-07-04 07:26] meyskens opened #294 "SO_REUSEPORT"
Is it possible to get a kernel with `SO_REUSEPORT` enabled?

[2016-07-04 11:50] QuentinPerez commented on #293
Hi @jbbr, thank you for your help,

I will release the kernel at the end of the week, with the other modules.

[2016-07-04 13:21] #293 closed

[2016-07-05 02:00] scorpnode opened #296 "Multiple errors as kernel doesnt support some modules"
Please fix this. Im trying to set up a cluster on scaleway but this is holding me back:

Setting up scylla-kernel-conf (1.2.1-20160623.c56fc99-ubuntu1) ...
sysctl: cannot stat /proc/sys/kernel/sched_tunable_scaling: No such file or directory
sysctl: cannot stat /proc/sys/kernel/sched_min_granularity_ns: No such file or directory
sysctl: cannot stat /proc/sys/kernel/sched_wakeup_granularity_ns: No

[2016-07-06 08:18] y8 opened #297 "Kernel with zfs module"
Hi.

Since Ubuntu 16.04 comes with native zfs support, it will be nice to see kernel with zfs module enabled.

[2016-07-06 10:16] QuentinPerez commented on #297
Hi @y8

You can install zfs on `x86_64 4.5.7 std #2 latest`, can you switch your bootscript and follow the commands below.

[code]

[2016-07-06 11:02] y8 commented on #297
Hi @QuentinPerez,

Just tired.

[code]

Just in case I've tried to reboot the server, but nothing changed.

[2016-07-06 11:46] Bacto opened #298 "Kernel name"
Hi guys,

I'm booting on the last ARM kernel "armv7l 4.5.7 std #2 (latest)".

Unfortunately the kernel name is not well defined:
[code]

Which result in an error when trying to sync the kernel modules with scw-sync-kernel-modules :(

Thanks,
Adrien

[2016-07-06 12:15] QuentinPerez commented on #298
Hi @Bacto

Yes we will fix it.

[2016-07-06 22:56] jojobo commented on #297
@y8 . Maybe this works https://gist.github.com/moul/18e8ec495728e9db3c1e253719bd0d49 from this thread https://github.com/scaleway/kernel-tools/issues/257

[2016-07-07 07:27] y8 commented on #297
Hi @QuentinPerez,

Yes, with updated instructions I managed to get working zfs+docker installation. Pools survived the reboot, and DSSD can be used as L2ARC cache, as zfs didn't complained about empty block device after archive/start sequence.

But installation takes about 1.5 hours on C2L, so anyway it will be much better to see this in stock bootscript.

[2016-07-08 11:28] barodeur commented on #293
@QuentinPerez what is the best way to be informed on bootscript changes? Thx

[2016-07-08 13:42] jbbr commented on #293
Thanks for adding the missing modules, hope it works now, I will give feedback as soon as the bootscript is live and I find time to check.

@barodeur: Not sure if there is any official/automated way to get notified. But it's quite easy to check using the `scw` cli command - I use something like `scw images -f type=bootscript | grep docker` to check current image version.

[2016-07-08 15:01] moul commented on #298
Fixed from a code POV, will be fixed in production soon

[2016-07-08 15:11] QuentinPerez commented on #294
Hi @meyskens,

I don't find the option, it seems that it's enable by default with the kernel >= `3.9`.

[2016-07-08 15:46] meyskens commented on #294
I use 4.5 and can't see it. Will look into it, not sure if this is because I use it via Docker

[2016-07-11 12:09] pdutourgeerling opened #299 "Ipset and iptables"
Ipset doesn't work with iptables.
Here an example:
[code]

I get the error `iptables: No chain/target/match by that name.`

Someone [here](https://community.online.net/t/ipset-and-ip6tables-on-vps-kernel-4-4-4-std3/1981/12) said that the `xt_set` module should probably be enabled.

I'm using CentOS 7 but I also have the same problem with Ubuntu 16.04.

Thank you.

EDIT: [this is the commit for the

[2016-07-11 13:11] QuentinPerez commented on #299
Hi @pdutourgeerling thank you for your feedback,

I tried with `CONFIG_NETFILTER_XT_SET` and it works, I will add it

[2016-07-11 13:16] pdutourgeerling commented on #299
Thank you @QuentinPerez for your fast response!

Just to get an indication, how long do you think it takes before the update is online?

[2016-07-11 13:49] QuentinPerez commented on #299
I will try to release it, tonight

[2016-07-11 13:52] pdutourgeerling commented on #299
Thank you!

[2016-07-11 21:28] #299 closed

[2016-07-12 15:24] QuentinPerez commented on #299
Hi @pdutourgeerling,

Can you try with the latest docker bootscript `4.5.7 docker #4`

[2016-07-12 15:25] QuentinPerez commented on #293
Hi @jbbr

Can you try with the latest docker bootscript `4.5.7 docker #4`

[2016-07-12 17:37] jbbr commented on #293
@QuentinPerez Thanks, it working now!

I did a simple test by spawning 1 manager and 2 worker VMs and running a service on port 80 on only 1 machine - it's now reachable on all machines as expected.

[2016-07-12 19:27] pdutourgeerling commented on #299
@QuentinPerez It's fixed 👍

Tested on `x86_64 4.5.7 std #3` and `x86_64 4.5.7 docker #4`

[2016-07-13 00:42] scorpnode commented on #296
Hi any news?

[2016-07-13 08:01] QuentinPerez commented on #296
Hi @scorpnode,

The last week, I did not find the options to enable
[code]

[2016-07-13 12:30] meyskens commented on #294
Seems to be an issue with Docker, works fine without it!

[2016-07-13 12:30] #294 closed

[2016-07-15 12:29] moul commented on #296
@aimxhaisse, any idea about this ?

[2016-07-19 06:43] scorpnode commented on #296
https://doc.opensuse.org/documentation/html/openSUSE_121/opensuse-tuning/cha.tuning.taskscheduler.html

[2016-07-19 06:48] scorpnode commented on #296
https://en.wikipedia.org/wiki/Completely_Fair_Scheduler i think

[2016-07-20 12:51] Bacto commented on #298
It works. Thanks guys :)

[2016-07-20 12:51] #298 closed

[2016-07-21 10:44] gedw99 commented on #293
I just looked on the scaleway web gui, to see what version is there. its still docker 1.11

I want to try out the new service and scale commands. On my laptop i run docker ro Mac and so have all this. It gets rid of consul and k8 and all that stuff which is awesome.
SO once scaleway support docker 1.12 it will be great

I guess your waiting on it to no longer be a release candidate ?

[2016-07-21 12:08] moul commented on #293
Yep,

For now the easiest solution is to run a 1.11 docker server and upgrade to the current rc

[2016-07-21 17:36] gedw99 commented on #293
But does it work on arm ? There is allot of new stuff in 1.12.

On Thu, 21 Jul 2016, 14:08 Manfred Touron, <notifications@github.com> wrote:

[2016-07-30 17:35] tlvenn commented on #297
Hi @QuentinPerez, any update on when zfs will be available out of the box ?

[2016-07-30 17:48] QuentinPerez commented on #297
Hi @tlvenn,
Unfortunately, I think that zfs module will be available out of the box, because it depends of severals dependencies

[2016-08-20 22:19] meyskens opened #302 "aesni-intel"
The `aesni-intel` module is included but not enabled in the kernel. Doing that should be a good idea to speed up servers with TLS.

[2016-08-23 16:25] vikbez opened #303 "Delete /etc/hosts.bak during image export"
Because actually the hostname is not replaced when creating an instance with the image.

[2016-08-24 18:50] ipartola commented on #150
I am very interested in using your C1 servers, but without IPv6 connectivity with at least /64 allocations, it's not usable to me. Has there been any update @moul?

[2016-08-31 11:39] scorpnode commented on #296
Just following up on this

[2016-08-31 12:09] QuentinPerez commented on #296
Hi @scorpnode

For now we can't use the CFS on our kernel because it turn all modules in static

[2016-08-31 14:29] scorpnode commented on #296
**Scheduler tunables** section
http://www.scylladb.com/2016/06/10/read-latency-and-scylla-jmx-process/

[2016-08-31 14:32] QuentinPerez commented on #296
We can't use the CFS scheduler.

[2016-08-31 21:53] hasmikhail commented on #296
seeing the same issue currently.

[2016-09-15 14:04] rapha8l commented on #150
I also have a C1, and was wondering in what state it is now

[2016-09-15 14:26] Merovius commented on #150
FWIW, I deleted my scaleway account yesterday, as this doesn't seem to be happening.

[2016-09-15 16:18] rapha8l commented on #150
It's a pity, either it should be closed if not feasable or updated if there is a way to do it

[2016-09-16 07:18] anttileppa opened #306 "Unable to use Snap packages on Scaleway Ubuntu servers"
Snap packages cannot be installed on Scaleway Ubuntu 16.04 Xenial servers because kernel is lacking AppArmor 2.4 compatibility patch.

For example, installing cassandra fails with following error:

    # snap install cassandra
    65.71 MB / 65.71 MB [====================================================================================================================================================

[2016-09-16 08:06] QuentinPerez commented on #306
Hi @anttileppa,

Did you try with the apparmor bootscript ?

[2016-09-16 08:40] anttileppa commented on #306
Thanks for the tip, that worked perfectly.

[2016-09-16 08:40] #306 closed

[2016-09-23 06:07] MohammadBilalArif opened #309 "Ubuntu 16.04 conntrack -E is not supported"
``$ conntrack -L`` is working but kernel does not support ``$ conntrack -E``
``
xxxx@xxxxx:~$ zgrep 'CONFIG_NF_CONNTRACK_EVENTS' /proc/config.gz
 #CONFIG_NF_CONNTRACK_EVENTS is not set
``

Please add support for conntrack live event tracking.

[2016-09-24 12:27] #309 closed

[2016-09-28 14:25] gunph1ld opened #312 "Kernel with ebtables module"
Hello, guys!

Please, enable in your centos kernel ebtables modules, I can't use ebtables now:

[code]

[2016-09-28 17:56] vayan opened #313 "Unable to use Snap packages on Ubuntu images"
Fresh install, a simple `snap install hello` fail

`Linux 4.5.7-apparmor-4 #1 SMP Tue Jul 12 11:02:00 UTC 2016 armv7l armv7l armv7l GNU/Linux`

[code]

[2016-10-02 18:35] FlorianHeigl commented on #292
I'd also be happy to have a CentOS kernel with SELinux enabled instead of having to fall back to Fedora, especially if it doesn't work.

[2016-10-09 21:58] vladimir-lu commented on #227
Is it possible to run a custom kernel yet or will this work need to be done in the official kernel-tools repo? I am happy to take a stab at creating a grsec configuration.

[2016-10-10 16:15] athena255 opened #314 "When bootscripts do not match the expected kernel of the disk image, modules will not be loaded at boot."
It appears that if a disk image is loaded on a VC server with the incorrect bootscript, then the modules will not be loaded at boot. The fix for this is running "depmod -a".

--------

My specific issue was with the Archlinux image: (https://www.scaleway.com/imagehub/archlinux/) The version I have was using the latest ARM kernel bootscript at the time I first got it which was version ARMv7l 4.4.0.

[2016-10-13 23:23] tureba commented on #292
I also want a CentOS kernel with SELinux. It's a basic requirement of my client's line of work.

[2016-10-14 15:10] QuentinPerez commented on #314
Hi @athena255,

You can patch the server to recover your bootscript with our [CLI](https://github.com/scaleway/scaleway-cli)

[code]

[2016-10-15 13:43] QuentinPerez commented on #292
Hi 😊,

I fixed the fedora bootscript, now you can boot with it but don't forget to enable `PermitRootLogin` in your `etc/ssh/sshd_config`.

Let me know if you need anything else 👍

[2016-10-18 14:33] solarus0 opened #315 "Kernel 4.5.1 is vulnerable to CVE-2016-7117"
Hi,

My server has been built with your pre-made Debian 8.2 image.
This image use the kernel 4.5.1-std-1, but this kernel is vulnerable to the CVE-2016-7117.
 http://www.cvedetails.com/cve/CVE-2016-7117/

How can I can upgrade my instance with a new kernel (4.5.7 in example) ?
How do you plan to upgrade the existing instances and image ?

Thanks for your help.

[2016-10-18 14:35] QuentinPerez commented on #315
Hi @solarus0,

You can change your bootscript from the web console https://www.scaleway.com/docs/bootscript-and-how-to-use-it/

[2016-10-18 14:54] solarus0 commented on #315
Thanks for your help. It works for me, but did you plan to upgrade or warn your customer who still uses this kernel ?
It would be responsible toward your customers.

[2016-10-19 15:09] edouardb commented on #315
Hi @solarus0,
We are currently warning all customers  affected by the vulnerability.

Edouard

[2016-10-19 15:09] #315 closed

[2016-10-19 16:50] Simnol opened #316 "Alert on Vulnerability, but not new kernel?"
I check for a new Kernel release quite frequently, I know Scaleway are slow with regards to this, and this issue isn't directly about that.

Is there a way to get an email when a new kernel is released? Instead of emailing when the old one is deemed 'vulnerable?'

It seems like the approach taken at the moment is a bit backwards.

[2016-10-19 16:51] Simnol commented on #316
Also, the email I got said I had a box lower than 4.5.2, which isn't true, so I think your check is reporting false positives.

[2016-10-19 16:54] edouardb commented on #316
Hey @Simnol,

Thanks for your suggestion, we will study what we can do on this side.
You receive the email because we warned all customers with a server <= 4.5.2 kernel version and all customers having a server image with a default bootscript <=  4.5.2.

[2016-10-19 16:57] Simnol commented on #316
Yes, I'm on higher than 4.5.2 on both machines, so I think your check needs checking :)

[2016-10-19 17:06] edouardb commented on #316
We'll avoid that for next time ;)

[2016-10-19 17:06] #316 closed

[2016-10-19 22:44] kakobrekla opened #317 "Missing raid 0 in kernel"
We are missing kernel modules for _raid 0_ on latest debian image.

[code]

Same issue observed by others for other distributions.

[https://community.online.net/t/raid-with-volumes/2014/15](https://community.online.net/t/raid-with-volumes/2014/15)

We need single drives that are larger than the 150G limit.
Please add it to kernel config so using kexec can be avoided.

Thank you!

[2016-10-21 01:39] ivan opened #319 "Latest kernel 4.5.7-std-3 is vulnerable to Dirty COW / CVE-2016-5195"
4.5.7-std-3 on my x86_64 scaleway is vulnerable to [CVE-2016-5195](https://github.com/dirtycow/dirtycow.github.io/wiki/VulnerabilityDetails): the [POC](https://raw.githubusercontent.com/dirtycow/dirtycow.github.io/master/dirtyc0w.c) manages to overwrite a root-owned file.  Can you please provide updated kernels?  Thank you!

[2016-10-21 06:58] #317 closed

[2016-10-21 09:09] #319 closed

[2016-10-22 21:47] tobast commented on #150
@moul Still no updates to provide for the C1?

[2016-10-25 09:09] rapha8l commented on #150
I'm migrating to VC1 which has ipv6 and same price

[2016-10-29 09:17] nlienard commented on #297
Hello
I got a VPS in scale way only to run ubuntu 16 with LXD and Oh surprise, it doesn't work ?
What's going on ?

# modprobe zfs
modprobe: FATAL: Module zfs not found in directory /lib/modules/4.5.7-std-3

It is native to ubuntu 16 with zfs.ko already compiled. why is it complicated to keep it as kernel module ?

Thanks

[2016-11-07 22:09] arno01 commented on #312
Missing it too... I need it urgently.

[2016-11-07 22:20] QuentinPerez commented on #312
Can you upgrade your kernel please.

[2016-11-07 22:32] arno01 commented on #312
I was just about to write here, I have managed to boot the 4.8.3-std-1 kernel. It has the ebtables enabled :-)
Much Thanks!

By the way, is it possible to build and add my own kernel to the bootscript menu?

[2016-11-07 22:56] QuentinPerez commented on #312
Not yet sorry 🙁

[2016-11-14 07:54] WonderWheel opened #321 "Patch bootscript"
Using scaleway_cli, how can i change bootscript because my server can't load iptables.

`uname -r = 4.8.3-std-1
`
`ls -l modules = drwxr-xr-x 3 root root 4096 Sep 26 07:29 4.4.4-std-3/
`

Folder 4.8.3 is not present in /lib/modules

And iptables :

`iptables -L = iptables v1.4.21: can't initialize iptables table `filter': Table does not exist ...`

[2016-11-14 10:38] QuentinPerez commented on #321
Hi @WonderWheel,

Can you try to fetch the modules with `scw-sync-kernel-modules && depmod -a` and retry your iptables command.

[2016-11-14 11:37] WonderWheel commented on #321
Perfect, problem solve !

[2016-11-14 12:36] #321 closed

[2016-11-21 13:17] stuffo opened #322 "4.8.14-std-1 armv7l won't reboot and crash"
Switched to 4.8.3-std-1 bootscript on C1 and reboot is impossible now. Doesn't seem to be distro related as it happens with Arch, Ubuntu and Gentoo too. After the kernel throws a stack trace it will hang until it gets reset (imo by the watchdog) leaving me with a unclean filesystem. Switching back to the original bootscript (4.5) is impossible as it disappeared because of security issues (thats wh

[2016-11-21 13:21] QuentinPerez commented on #322
Hi @stuffo,

Can you retry with the stable bootscript ?

[2016-11-21 13:25] stuffo commented on #322
Hi @QuentinPerez ,

if you mean the 4.4.26-std-1, I am out of luck because it has no SECCOMP support and systemd-journald, logind and so on won't start. The default bootscript, 4.5.something that gets loaded on a fresh C1 instance, that has disapeared from the bootscript menu because of security issues, will reboot fine.

[2016-11-21 13:29] QuentinPerez commented on #322
I will bump the kernels but if it doesn't work again, I will give you a workaround to downgrade your kernel.

[2016-11-21 18:03] QuentinPerez commented on #322
@stuffo can you retry with latest kernel `4.8.10` ?

[2016-11-21 18:13] stuffo commented on #322
@QuentinPerez thanks for fast reaction and build.

Tried 4.8.10-std-1 and 4.8.10-debug-1 on a new C1 instance and unfortunately it still crashes on reboot.

See console output:
`[  OK  ] Closed D-Bus System [   78.537450] ------------[ cut here ]------------
[   78.603951] Kernel BUG at c0280928 [verbose debug info unavailable]
[   78.679087] Internal error: Oops - BUG: 0 [#1] SMP ARM
[   78.74067

[2016-11-21 20:44] QuentinPerez commented on #322
Can you tell if you have changed something on yout image ? Because on my fresh server the kernel doesn't crash

[2016-11-21 21:00] stuffo commented on #322
No, it's all SCW vanilla. Here is what I do:

I create a fresh C1 Arch Linux instance (from your images). This will boot using 4.5.7-std-4 kernel (the insecure one, which is not available in the menu anymore). A reboot here works perfect.

Then I change bootscript to 4.8.10-std-1 and restart the instance into the new kernel. After this, every reboot will produce the stack trace. Instance hangs and

[2016-11-21 22:54] QuentinPerez commented on #322
Thank you for your feedback, this image and the latest kernel seems to be incompatible :/
Can you tell me your needs to add them in the kernel `4.4.34 std` ?

[2016-11-22 09:12] stuffo commented on #322
Actually i though the same, but as I mentioned in my support ticket, the instance will also crash using Ubuntu or Gentoo images, so this makes me believe its a kernel bug.

To make 4.4.34 work with Arch it needs SECCOMP support enabled, otherwise crucial systemd services won't start.

Thanks for the workaround though.

[2016-11-22 09:35] QuentinPerez commented on #322
SECCOMP was available on `x86_64_4.4.34`, I add it in the arm version.
Sorry wrong uuid can you retry with `599b736c-48b5-4530-9764-f04d06ecadc7`

[2016-11-22 10:00] stuffo commented on #322
With this uuid it works to downgrade now.

[2016-11-23 11:03] stuffo commented on #322
FYI, I've managed to create a SCW compatible initrd and kexec ARCHs default arvm7-rc kernel, 4.9.0-rc6-1-ARCH and it will fail rebooting too the same way. All kernels (4.8.3++) I've tried crash after jumping into the shutdown initramfs and trying to disconnect nbd.

[2016-11-23 11:10] stuffo opened #324 "4.8.10-std-1 x86_64 boot panic on C2S"
Tried a fresh Ubuntu C2S instance with 4.8.10-std-1 kernel and it will panic while booting and leave the server in an unknown state preventing me from even terminating or deleting it.

[2016-11-23 11:12] QuentinPerez commented on #324
Thank you, I will disable these kernels

[2016-11-23 11:21] QuentinPerez commented on #322
Thank you @stuffo for your help, we will investigate on our side too.
I released the new kernel (arm) with SECCOMP (4.4.34 std 2).

[2016-11-23 18:16] stuffo commented on #322
I can confirm that 4.4.34-std-2 has SECCOMP now and ARCH is booting fine.

[2016-11-25 12:33] luckcolors opened #325 "4.8.3-std-1 armv7l: missing boot tools (missing command in updating kenel modules)"
There's an error while booting saying that the command for modules updte sis missing.
I already tried another bootscript (tried recovery) and that one does update the modules correctly.

[2016-11-29 18:27] luckcolors commented on #325
Here's the log as you requested.
[code]

[2016-11-29 19:26] QuentinPerez commented on #325
Hi @luckcolors, don't worry it's a false positive, you have an old image with recent kernel/initrd.
It work fine, if the initrd can not find these files, it tries the older version

[2016-12-01 20:00] meyskens opened #326 "4.8.3-Docker systemd crashed?"
After some time the systemd service refuses to work eg on reboot `Activation of org.freedesktop.systemd1 timed out
Failed to open initctl FIFO: No such device or address`. After some research this seems to be kernel related. I had this twice on a machine running for many weeks.

[2016-12-02 07:51] gunph1ld commented on #312
Any news? Here is even no contributor yet....

[2016-12-02 09:02] QuentinPerez commented on #312
Hi @gunph1ld, did you upgrade your kernel ?

[2016-12-03 15:05] ardaozkal commented on #150
@moul Still no updates for the C1?

[2016-12-05 12:48] gunph1ld commented on #312
@QuentinPerez

How to do this? I don't want to compile/change/replace the kernel from the github repo. It should be a native way to use the kernel with modules from the scaleway control panel.

[2016-12-05 12:52] QuentinPerez commented on #312
The documentation to upgrade your bootscript https://www.scaleway.com/docs/bootscript-and-how-to-use-it/

[2016-12-05 12:56] gunph1ld commented on #312
hmm, how can I select the bootscript while server creation via API ?

[2016-12-05 13:02] QuentinPerez commented on #312
Can you take a look at the API documentation to create a server https://developer.scaleway.com/#servers-servers
you must add `bootscript` field with the UUID (string) of your bootscript in the POST request

[2016-12-05 13:13] gunph1ld commented on #312
Of course, before I asked my previous question I took a look on the API documentation, and there is no way to get the bootscript id. There is no the bootscript parameter in the body request even.

[2016-12-05 13:19] QuentinPerez commented on #312
You can get the bootscripts with `/bootscripts`

[code]

[2016-12-06 14:03] ivan opened #327 "Latest kernel 4.8.3-std-1 is vulnerable to CVE-2016-8655 / af_packet.c race condition"
Scaleway's kernel 4.8.3-std-1 seems to have user namespaces enabled, so it is probably vulnerable to [CVE-2016-8655](http://seclists.org/oss-sec/2016/q4/607).  Updated kernels would be appreciated!

[2016-12-06 14:28] lmars commented on #257
This issue was originally opened as @jojobo was trying to install Flynn on Ubuntu 14.04, but Flynn can now be installed on 16.04 (so installs the `zfsutils-linux` package) so this may no longer be an issue.

[2016-12-06 14:36] yoyostile commented on #257
@lmars Tried that today, unfortunately I failed. As far as I know we need aufs + zfs. aufs is available in the docker bootscript I think, but I wasn't able to build zfsutils there. On the other hand, I was able to build zfsutils for the std kernel - but kernel-extras were missing. Dunno, maybe it's my fault. :)

[2016-12-07 06:25] josephglanville commented on #257
If it's Flynn you are trying to install it no longer needs AUFS, newer versions use OverlayFS instead.

[2016-12-10 12:25] alessiodionisi commented on #257
Hello,
I successfully installed Flynn on a C2L instance with Ubuntu 16.04.
Build was really fast (10 minutes).

- Install prequisites: `apt-get install build-essential libssl-dev`
- Run this script: https://github.com/scaleway/kernel-tools#how-to-build-a-custom-kernel-module
- Now install and build zfs: `apt-get install zfsutils-linux`
- Enjoy: `modprobe zfs`
- Download the Flynn install script: h

[2016-12-10 19:16] meyskens opened #328 "Kexec'ed kernel crashes on C2"
I've built a custom version of the 4.4 kernel (with aufs enabled) and added the kexec tags but the kernel fails on the C2 while it works on the VC1. Is there any specific changes for the C2 that have to be made?

[code]

<img width="1029" alt="schermafbeelding 2016-12-10 om 20 09 27" src="https://cloud.githubusercontent.com/assets/1625272/21075542/4da75774-bf15-11e6-81f4-1b5d3230c453.png">

[2016-12-10 19:34] QuentinPerez commented on #328
Hi @meyskens,

The kernels >= 4.4.34 and > 4.8.3 crash on C2, we are working on it.

[2016-12-10 19:37] meyskens commented on #328
@QuentinPerez thanks for the info I remembered 4.4 working but now I see 4.4.26 is in the list. Will await the fix 😄

[2016-12-10 19:37] #328 closed

[2016-12-12 10:40] stuffo commented on #322
While using Alpine Linux I've noticed that it won't crash on reboot with 4.8.10. Debian. Ubuntu and Arch crash. Forsaken systemd. ;)

BTW, why is the console set to painfully slow 9600 baud? Wouldn't bootup be a lot faster when using higher speeds? Feels like back in the 90s right now.

[2016-12-12 14:04] QuentinPerez commented on #327
Hi @ivan,

Thank you for your issue, we released a new kernel with the fix.

[2016-12-12 14:04] #327 closed

[2016-12-12 14:05] QuentinPerez commented on #324
Fixed with the latest kernels `>= 4.8.14`

[2016-12-12 14:05] #324 closed

[2016-12-12 14:06] #325 closed

[2016-12-12 14:08] #312 closed

[2016-12-12 14:09] #292 closed

[2016-12-12 14:41] QuentinPerez commented on #313
Hi @vayan,

Can you retry with the apparmor bootscript ?

[code]

[2016-12-12 14:42] epiloque commented on #292
@QuentinPerez thank you!

[2016-12-12 15:23] stuffo commented on #322
4.8.14 still crashing

[2016-12-12 15:34] stuffo commented on #150
Please make it happen. I mean it's soon 2017.
Any timeline available?

[2016-12-12 15:46] QuentinPerez commented on #322
Hi @stuffo,

I tried on C1, C2*, VC1*,  it works fine with the latest kernel.

[2016-12-12 15:55] stuffo commented on #322
@QuentinPerez
sorry to disappoint you, but I've just tested it (again) on a fresh C1 Arch and a Xenial instance and 4.8.14-std-1 (latest) still crashes on reboot. Same problem as before.

[2016-12-12 16:30] QuentinPerez commented on #322
I tested with an alpine image.
Now with an ubuntu, It seems that it only works with `4.4.y` kernel :/
I think this issue come from systemd.

[2016-12-12 16:34] HLFH commented on #150
I think we can close this issue with a won't-fix tag. Because it will never happen on C1.

[2016-12-12 16:37] meyskens commented on #150
@QuentinPerez

[2016-12-17 00:51] niwinz commented on #297
seems like the linux kernel 4.5.7 headers are not included, but they are needed in order to compile the new modules

[2016-12-17 18:26] meyskens commented on #297
@niwinz  the readme of this repo explains how to get them

[2016-12-18 01:13] fsamir commented on #283
Same here.

[2016-12-19 09:19] vayan commented on #313
Yep! It's working now :+1: thanks

[2016-12-19 09:19] #313 closed

[2016-12-27 05:56] FLYBYME commented on #297
Anyone have a docker image that has the right kernel? I'm looking to create a scale way image.

[2016-12-27 15:20] gunph1ld opened #330 "Problems with conntrack zones"
Hello!

iptable_raw module does not work properly
I use `4.8.3-std-1` and bootscript is `4b9b80a5-f3df-4a43-b763-f9722745edb6`

[code]

strace:
[code]

[2017-01-10 07:50] gunph1ld commented on #330
Actually, it is problem with the CT target. I can't use any zones except of 0.

Any updates?

[2017-01-10 11:14] stuffo commented on #322
tried 4.9.1 today and still the same panic (on Arch Linux, C1).

[2017-01-10 14:22] #330 closed

[2017-01-10 14:57] brmzkw commented on #330
Hi,

Thanks for your report. The kernel option CONFIG_NF_CONNTRACK_ZONES was not set.
The kernels are being rebuilt. I'll update the ticket as soon as everything is deployed.

[2017-01-11 13:35] gunph1ld commented on #330
Any news? I see, still failed - https://travis-ci.org/scaleway/kernel-tools

[2017-01-11 17:49] brmzkw commented on #330
Can you go on the "advanced" section of your server's configuration page, select the latest bootscript available (should end with `#2`), select it, and hard reboot your server?

CONFIG_NF_CONNTRACK_ZONES should be enabled.

[2017-01-11 23:31] git1106 commented on #322
My observations are with Ubuntu Yakkety user space on C1

- With kernel 4.8.14-std-1 and unmodified user space (scaleway image) shutdown hangs forever in unit ifup@eth0.service

I looked into the unit file and saw that it runs ifdown for ExecStop. This seems to clearly wrong to me, we still need the network interface until the rootfs has been remounted read-only. So I modified the ExecStop command

[2017-01-17 15:04] gunph1ld commented on #330
@brmzkw there is no #2 latest bootscript in ams1. latest #1 does not work

[2017-01-17 15:14] brmzkw commented on #330
oops!

It should be all good now. Sorry for that.

[2017-01-18 19:18] valkum commented on #257
As the Ubuntu 16.04 repo only contain zfs-0.6.5.6 which does not compile with >linux-4.8.0,
this doesn't work well for docker systems, as the only bootscript available with docker support is 4.8.14 as of today.

Is it possible to provide a docker enabled kernel with the same linux version that is available in the xenial repositories as a bootscript?

[2017-01-18 19:19] alessiodionisi commented on #257
I use the standard ubuntu xenial image on Scaleway with flynn

[2017-01-18 19:21] valkum commented on #257
I don't plan to use this as a production system. I have some other services that i need to run there and these need docker support. As the standard scaleway kernel doesn't support docker (last time i checked) this is no alternative.

[2017-01-18 19:24] alessiodionisi commented on #257
For Docker there is a specific image on Scaleway, try it

[2017-01-18 19:28] valkum commented on #257
I'am using the docker image. 4.8.14-docker-2, but at least for 16.04 spl-dkms is failing to build because of various changes in the Linux api (see https://github.com/zfsonlinux/zfs/commit/68b8d22c6e3c30a59b20879efab1d46824686bdf)

I was able to get it working by using the spl-dkms, zfs-doc and zfs-dkms packages from the 16.10 repositories. But thats really dirty.

[2017-01-19 20:25] JAremko opened #331 "Unikernels and C1"
Hello. I asked people from unik (https://github.com/emc-advanced-dev/unik/issues/6#issuecomment-273763144) about running [rumprun](https://github.com/emc-advanced-dev/unik/blob/master/docs/compilers/rump.md) on scaleway C1 hardware.  The answer was:

**Can you provide necessary information? Thanks!**

----------

I don't have experience with unikernels, but this is what made me excited:

* The mai

[2017-01-22 12:40] meyskens commented on #331
I have an old C1 running still using the original Marvell kernel which provides maybe more useful info

[code]

[2017-01-23 19:41] stuffo commented on #322
4.9.3 and 4.9.5 crashing too.
very very rarely it seems to work fine, even that I don't see it jumping into the shutdown initrd and executing the scaleway shutdown procedure. It seems to get finally watchdog rebooted when this happens.

@git1106
disabling systemd-networkd completly and having eth0 preconfigured only by initrd (basically unmanaged by systemd) had no effect on my system (Arch). FYI,

[2017-01-30 21:23] git1106 commented on #322
@stuffo Thanks for the hint, I have always wondered, what the @ in xndb stands for. I guessed it might have to do something with initramfs, but I did not know that systemd has special exceptions for that.

Haven't had time to debug this any further. My theory/guessing was that somebody is bringing down the network interface. But if you can exclude that possibility from your understanding of your u

[2017-01-31 10:25] stuffo commented on #322
@git1106
Would be nice of Scaleway to give some credits to people trying to sort out this issue. DigitalOcean gave me credits (USD 10 each time, without even asking for it) for any reproducible bug found. I've did a lot of testing for this is issue and got nothing but a higher invoice which didn't motivate me to further investigate. Doesn't seem like they are very interested in this issue anyways.

[2017-02-07 16:12] bchatelard opened #332 "Enable IPv6 multiple table"
[code]

[2017-02-07 16:32] bchatelard commented on #332
It is correctly set on 4.8 https://github.com/scaleway/kernel-tools/blob/474987e5273d24fec4395f8fbadba93e47a9f672/armv7l/4.8.14-std/.config#L793

[2017-02-08 16:02] RaitoBezarius opened #333 "How to specify custom parameters for initrd?"
Hi,

I would like to add the `isolcpus` parameter on my C2M machines, for improved performance.

What is the way to do it on Scaleway? Support told me to ask here.

[2017-02-08 16:03] meyskens commented on #333
It isn't in the code yet but they can add it via the tags of your server (just like they do it for kexec)

[2017-02-08 16:04] meyskens commented on #333
However https://github.com/scaleway/initrd might be a better place

[2017-02-08 16:06] RaitoBezarius commented on #333
@meyskens Thank you, any bit of docs or code so that I can understand what kind of tags should I put on the server?

[2017-02-08 16:08] meyskens commented on #333
https://github.com/scaleway/initrd/tree/master/Linux#boot-options which is executed at https://github.com/scaleway/initrd/blob/master/Linux/tree-common/init

[2017-02-10 12:51] JamieH opened #334 "Unable to use Snap packages on Ubuntu images"
On a fresh install the `snap install ubuntu-core` fails. Seems to have been fixed in `4.8.14-apparmor-1` but broken again in `4.8.14-apparmor-2` ? https://github.com/scaleway/kernel-tools/issues/313
[code]

[code]

[code]

[2017-02-11 20:31] fxthiry opened #335 "Problems with LogStach"
Hello,

LogStach need CONFIG_CFS_BANDWIDTH to be enabled to work properly.

[kernel-tools/x86_64/4.8.14-std/.config](https://github.com/scaleway/kernel-tools/blob/master/x86_64/4.8.14-std/.config)

Would you consider enabling CONFIG_CFS_BANDWIDTH ? :)

[2017-02-20 04:37] WolfEdge commented on #322
@git1106 If what you're saying about the hard reboots is true, then damn.. I've been debugging issues for many hours for the last couple of days which has needed a lot of hard reboots. Most of them are from debugging the Ubuntu 16.10 image for the C1. One of the issues I've been working on is the inability to shutdown or reboot (apparently it will reboot after 30mins but that's atrociously long lo

[2017-02-22 10:22] stuffo commented on #322
Well, a magic unicorn passed by and dropped 4.10.0. This kernel reboots just fine now, initramfs shutdown gets executed, file system stays clean.
Maybe @QuentinPerez can throw some new kernel release? :-)

[2017-03-08 14:27] albertdb commented on #330
@gunph1ld Have you managed to run OpenStack on Scaleway and access floating IPS from host?

My VMs are up and running but they are not reachable and cannot reach internet.

[2017-03-08 14:34] gunph1ld commented on #330
@albertdb Yes, but what floating ips are you talking about? Scaleway provide only 1 ip.
In my environment I use NAT for the external network, that's it

[2017-03-08 14:39] albertdb commented on #330
@gunph1ld Floating IPs at Openstack level, with the intention of them being reachable from host. But I don't really know if that makes sense.

Please tell me how you did the NAT setup, that's what I'm trying to do. Thanks!!!!

[2017-03-08 16:09] albertdb commented on #330
@gunph1ld Is there any way I can contact you regarding this? I'm stuck in a dead end.

[2017-03-09 11:33] albertdb commented on #330
@gunph1ld Finally I've been able to give NATed internet connection to VMs doing the following, but I cannot reach VMs from the host.
[code]
Could you please help me?

[2017-03-19 23:12] ivan commented on #55
Thank you, that is very useful information.

With 4.8.14, I needed to install `bc libc6-dev libssl-dev` and run `make prepare scripts` instead of `make prepare module_prepare`

[2017-03-19 23:29] ivan commented on #55
Hmm, even after doing all that, modules seem to be miscompiled, so there might be a missing step:

[code]

[code]

[2017-03-19 23:37] ivan commented on #55
Oh, I just noticed https://github.com/scaleway/kernel-tools#how-to-build-a-custom-kernel-module :-)

[2017-03-20 02:03] ephemer0l opened #336 "Rebuild Gentoo kernels to enable kexex."

[2017-03-24 11:39] kakobrekla commented on #317
Hi,

as of today with the debian jessie;

`root@bc2:~# modprobe raid1
root@bc2:~# modprobe raid0
modprobe: FATAL: Module raid0 not found.
`

Still not working.  Can you amend please?

[2017-03-24 11:41] kakobrekla opened #337 "Missing raid 0 in kernel (still)"
Hi,

this issue still remains after 5 months : https://github.com/scaleway/kernel-tools/issues/317

as of today with the debian jessie and C1 instance;

[code]

Still not working.  Can you amend please?

[2017-03-24 11:55] bchatelard commented on #337
Hi, it looks like the bootscript has not been updated for Jessie on C1, can you udpate your bootscript to 'armv7l 4.4.38 std #2 (stable)' and tell me if it works for you ?

[2017-03-24 12:45] kakobrekla commented on #337
[code]

[2017-03-24 15:51] bchatelard commented on #337
I updated the bootscript of the Jessie image, thanks for reporting this.

[2017-03-24 15:51] #337 closed

[2017-03-24 17:16] kakobrekla commented on #337
Thank you for the quick fix!

[2017-03-25 11:38] Zekah commented on #227
Is this still in progress ?
Thanks !

[2017-03-28 08:55] kakobrekla opened #338 "Entropy is gone"
Hi,

C1 machine + Debian Jessie:

[code]

This is on na fresh C1 instance, however it was not always this way, here is munin chart of entropy history of another C1 instance:

http://i.imgur.com/bopzDbO.png

[2017-03-28 13:10] bchatelard commented on #338
Related to scaleway/image-alpine/issues/51 and scaleway/image-ubuntu/issues/81

[2017-04-01 12:51] zx2c4 opened #340 "Kernels out of date and vulnerable"
As of writing, the VC2S boots up to 4.4.38, by default. It can later be changed manually to 4.4.57. This too is out of date; the current kernel from that stable branch is 4.4.59.

However, the later stable branch is 4.9.20. Since the departure of various Scaleway team members, evidently nobody has made this update.

Furthermore, Scaleway ships as the "latest" option the 4.8.14 kernel, which is _ex

[2017-04-01 17:40] stuffo commented on #340
In the meantime you can use these projects to get current vanilla Ubuntu/Arch Kernels on your instance:
https://github.com/stuffo/scaleway-archkernel for Arch armv7 Linux and
https://github.com/stuffo/scaleway-ubuntukernel for Ubuntu x86_64.

[2017-04-01 23:22] zx2c4 commented on #340
Yes, I of course can just kexec into a new kernel, but that's a pretty ugly result at best. Service provider ships vulnerable software, so I have to boot into their vulnerable environment to then execute out of it? I'd rather just get the problem fixed at the root cause, and failing that, switch to a provider who still cares about this kind of thing.

(Alternatively, letting users choose their own

[2017-04-02 09:48] stuffo commented on #340
Basically I agree. Long-term I would like to see either up-to-date kernels from Scaleway or the ability to use own or distribution supplied kernels. Sadly the use of NBD raises some difficulties.  Based on eg. https://github.com/scaleway/kernel-tools/issues/322 I have no big hopes that the situation will change short-term. ;-)

[2017-04-04 07:17] tbillon commented on #340
Sorry about that. I'm working on bumping kernels to the latest releases. Once this is done, we'll try to keep up to date with the official releases as far as possible.

[2017-04-04 07:59] moul commented on #340
Here is a base: https://github.com/scaleway/kernel-tools/pull/339

[2017-04-06 11:07] tbillon commented on #340
We've just released a few kernels: 4.4.59, 4.9.20 and 4.10.8 for both x86 and arm. They're not set by default at the moment but you can change your bootscript to use them.

[2017-04-06 11:08] zx2c4 commented on #340
Thanks for doing that. Very much appreciated.

Please do consider setting them as default in the near future, as the existing defaults have known security vulnerabilities.

[2017-04-06 20:11] stuffo commented on #322
#340 fixed reboot on C1

[2017-04-06 20:11] #322 closed

[2017-04-06 20:13] stuffo commented on #340
can confirm that 4.8.10 works perfect on C1 (Arch). Great job!

[2017-04-11 07:06] #340 closed

[2017-04-11 07:13] zx2c4 commented on #340
I received an email because this ticket was closed. However, you may want to reeopen it, because the kernels are already out of date again!

Indeed keeping software up to date is a moving target. I suggest having an easy partially-automated way to bump these from your end, so that you can do version bumps on day 1 without it being a big hassle.

[2017-04-11 07:23] bchatelard commented on #340
You are right, our team is currently working on improving the build and release process.

[2017-04-12 10:41] albertdb opened #341 "Enable KSM"
Hi,

It would be great if you could enable `CONFIG_KSM` flag in std kernels (including longterm if possible).

That way we could save memory while running KVM on top of C2 baremetal instances.

Thanks!!

[2017-04-13 08:24] m0n5t3r commented on #334
looks like it's due to missing xz support in squashfs:
[code]

 so the solution would be to enable `CONFIG_SQUASHFS_XZ` in the kernel config

[2017-04-13 08:49] m0n5t3r commented on #334
actually, at least on arm, the latest kernel (armv7l 4.10.8 apparmor) seems to work; I would still look at dmesg to see if it complains about something

[2017-04-13 22:27] stolendata opened #342 "iptables module missing from all three new ARM kernels"
ip_tables.ko is missing in all three new armv7l kernels (4.10.8, 4.4.59 and 4.9.20). It is no longer possible to use iptables on C1 servers...

[2017-04-13 23:43] stolendata commented on #342
Some clarification: doing a fresh install of f.e. Arch Linux on a C1 will pull all kernel modules - incl. ip_tables.ko - during the install setup scripts, but changing an already existing older install to one of the three new armv7l kernels will not bring in all modules - the two installs will end up with a different set of modules.

Clearing the module dir and repopulating it with `oc-sync-kernel

[2017-04-14 09:19] superseed commented on #342
That's pretty weird, [`oc-sync-kernel-modules`](https://github.com/scaleway/image-tools/blob/master/skeleton-common/usr/local/sbin/scw-sync-kernel-modules#L26) (i.e. `scw-sync-kernel-modules`) will pull all kernel modules for your current kernel version and arch.

When you cleared the modules dir `/lib/modules/<version>`, did you remove the dir itself or just what's inside ? The `if` at line 21 wo

[2017-04-14 09:32] stolendata commented on #342
`# ls -l /lib/modules/4.9.20-std-1/kernel/net/ipv4/netfilter/
total 11844
-rw-r--r-- 1 root root 314176 Apr  4 15:11 arptable_filter.ko
-rw-r--r-- 1 root root 491384 Apr  4 15:11 arp_tables.ko
-rw-r--r-- 1 root root 357224 Apr  4 15:11 arpt_mangle.ko
-rw-r--r-- 1 root root 379600 Apr  4 15:11 iptable_filter.ko
-rw-r--r-- 1 root root 377288 Apr  4 15:11 iptable_mangle.ko
-rw-r--r-- 1 root root 3866

[2017-04-14 10:05] stolendata commented on #342
By the way, here's the version of `oc-sync-kernel-modules` available on my old-ish Arch install:

[code]

[2017-04-14 10:12] superseed commented on #342
Yet `ip_tables.ko` is present in the [mirror for 4.9.20-std-1 and friends](http://mirror.scaleway.com/kernel/armv7l/4.9.20-std-1/modules/4.9.20-std-1/kernel/net/ipv4/netfilter/). So it can be fetched with `wget`. A temporary solution to your problem would be to actually do that:

[code]

[2017-04-14 10:21] tbillon commented on #342
If you ever need to switch back to your old kernel, the bootscript was c556f089-e4a2-4c0c-9db2-3a32dd48b3c0 .

[2017-04-14 10:31] superseed commented on #342
You could also edit your version of `oc-sync-kernel-modules` and remove the `--quiet` part of the `wget` to get more insight on what's happening here.

[2017-04-14 10:36] stolendata commented on #342
I've found the problem. The `oc-sync-kernel-modules` script from my Arch image is outdated. Note the path:

`http://mirror.scaleway.com/kernel/${KVERSION}/modules/${KVERSION}/`

vs

`http://mirror.scaleway.com/kernel/${KARCH}/${KVERSION}/modules/${KVERSION}/kernel/net/ipv4/netfilter/ip_tables.ko`

Also, this was interesting and *will* break future use of the updated `oc-sync-kernel-modules` script

[2017-04-14 10:57] superseed commented on #342
Good point, your `oc-sync-kernel-modules` is indeed fetching at the wrong address ! After more investigation, here's what we found.

`http://mirror.scaleway.com/kernel/<version>/modules/<version>/` is equivalent to `http://mirror.scaleway.com/kernel/x86_64/<version>/modules/<version>/` (note the arch) so the modules you pulled with the outdated `oc-sync-kernel-modules` were x86_64 modules.

On top

[2017-04-14 12:38] superseed commented on #342
Closing this as we couldn't reproduce the failure to fetch `ip_tables.ko` of the new initrd's `oc-sync-kernel-modules`.

[2017-04-14 12:38] #342 closed

[2017-04-14 21:19] snorremd opened #343 "IP_VS_NFCT not enabled in latest docker image. Causes docker swarm issues?"
The kernel tools [x86_64/4.8.14-docker](https://github.com/scaleway/kernel-tools/blob/master/x86_64/4.8.14-docker/.config#L1024) enables `IP_VS_NFCT`. The [x86_64/4.10.8-docker](https://github.com/scaleway/kernel-tools/blob/master/x86_64/4.10.8-docker/.config#L1031) version does not enable the `IP_VS_NFCT` kernel module.

When I for example run nginx as a docker swarm service on a scaleway docker

[2017-04-17 01:20] netroby opened #344 "Missing tcp bbr mod"
I choose upgrade to linux 4.10.8 docker kernel, but seems your kernel lacks tcp bbr module

net.core.default_qdisc = fq
sysctl: setting key "net.ipv4.tcp_congestion_control": No such file or directory
net.ipv4.tcp_congestion_control = bbr

[2017-04-19 15:05] zx2c4 commented on #340
Please do let us know here about your progress. Being in a state of perpetual vulnerability is not a nice situation.

[2017-04-22 17:46] rmacfie commented on #343
I believe I have this problem too. Is there any way to override the version when we create a new server?

Situation right now is that I cannot create any new servers that can publish ports from docker swarm.

[2017-04-28 09:04] simos opened #346 "Enable ZFS filesystem kernel support for Ubuntu images"
In Ubuntu 16.04 and newer, the Linux kernel comes with ZFS kernel support.
ZFS is not maintained in mainline Linux and is added while compiling the kernel.

ZFS is important to Ubuntu because it is required in LXD containers.
Regarding licensing issues, https://insights.ubuntu.com/2016/02/18/zfs-licensing-and-linux/

However, in the Scaleway "Ubuntu" kernels, there is no ZFS support and it has to

[2017-04-28 12:32] mastertheknife commented on #150
Any updates on this?

[2017-04-28 19:50] drdaeman commented on #150
I think C1s are obsolete and not available anymore (except for the already existing instances, of course). As far as I understood, they were replaced with the [newer ARMv8 offering](https://blog.online.net/2017/04/27/scaleway-disruptive-armv8-cloud-servers/) - which has better performance and does support IPv6 (poorly implemented, with /127 subnets - but that's another story).

[2017-04-28 19:51] meyskens commented on #150
@drdaeman the c1 seems to be still available, also the arm64 offering is virtualized so not baremetal (yet, i hope)

[2017-04-28 20:19] drdaeman commented on #150
@meyskens Ah, you're right. I was looking at AMS region and thought C1s were gone upon not seeing them listed anywhere. My bad, thanks for pointing this out.

[2017-04-28 20:22] meyskens commented on #150
@drdaeman I can see them being replaced by the arm64, but definitely not this year. aarch64 is even less supported than armhf (which over the past 2 years really became big). See Docker for example, they now support armhf but not aarch64.

[2017-04-28 22:24] tcarrondo commented on #334
I cannot use snaps in any of the 4.10 kernels

[2017-04-30 09:51] tcarrondo commented on #334
It's posisble to use snaps on:
4.10.8-apparmor-1
Distributor ID:	Debian
Description:	Debian GNU/Linux 9.0 (stretch)
Release:	9.0
Codename:	stretch

[2017-05-02 01:15] BobVul opened #347 "Enable IKCONFIG in aarch64 kernel"
[code]

Just like x86_64 so we can have `/proc/config.gz`.

[2017-05-02 01:18] BobVul opened #348 "Enable KEXEC in aarch64 kernel"
Like in issue #271 but for the new aarch64 kernel

[2017-05-02 10:09] simos opened #349 "Add new bootscript with stock Ubuntu Linux kernel"
The Linux kernel in the Ubuntu Xenial (Ubuntu 16.04) image is not the stock Ubuntu Linux kernel.
It is the mainline Linux kernel without the appropriate .config and changes that are suitable for Ubuntu.

The source of the Ubuntu Linux kernel is at
https://git.launchpad.net/~ubuntu-kernel/ubuntu/+source/linux/+git/xenial?h=master

and includes additional patches for AppArmor and ZFS support as well

[2017-05-06 18:41] mazamats commented on #346
I'll be getting off scaleway until ZFS works.

If you're going to use your own kernels, don't strip features that are included by default in one of the most widely used Linux Distros.

[2017-05-07 12:13] agiUnderground commented on #343
Same issue with Scaleway kernel 4.10.8-docker-1, i change docker version from 17.05.0-ce to 17.03.0-ce, but it is not helps. Swarm not accessible from outside, or even from host.

same errors:
[code]

[2017-05-07 20:49] yaroslavprogrammer commented on #343
Same for me, waiting for new bootscript, please add new bootscript!

[2017-05-07 23:25] fredix commented on #343
Same issue for me. Kernel 4.8.x was working before.

[2017-05-08 07:01] agiUnderground commented on #343
Please, return old kernel - 4.8.14-docker-2 as a choice, if you can't add new one, it is critical.

[2017-05-08 07:03] agiUnderground commented on #349
Do not forget ip_vs_nfct module for docker kernel version.

[2017-05-08 16:04] Glukozavr commented on #343
Same thing.

[2017-05-11 18:07] atalax opened #350 "CONFIG_NF_SOCKET_IPV{4,6} is not enabled (iptables -m socket rule)"
The CONFIG_NF_SOCKET_IPV{4,6} options are not enabled. These options enable the `-m socket` iptables match. This means that doing transparent IP proxies such as the one described [here](https://www.nginx.com/blog/ip-transparency-direct-server-return-nginx-plus-transparent-proxy/) is not possible.

[2017-05-13 22:59] hardikdangar commented on #172
any update on this issue ?

[2017-05-15 09:39] VERGiL1202 commented on #343
+1

[2017-05-15 16:24] mathev19 commented on #343
:+1:

[2017-05-20 21:52] raarts commented on #343
Please add the NFCT option! Docker Swarm will not run without it!

[2017-05-22 12:06] Rhainland opened #352 "SMB2 and SMB3 missing from Ubuntu Xenial kernels?"
It appears that SMB2 and SMB3 are not supported on the scaleway kernels, atleast for ubuntu.

Any bootscript used is only capable of negotiating smb 1.01 with windows hosts.

Can we have this corrected so SMB2 and SMB3 is supported in these kernels?

Regards

[2017-05-22 16:50] themazim commented on #296
got it to work on scaleway c2s but should work on every X86 64bit machine.

apparently scylla-kernel-conf fails due to the scaleway's own kernel. Some settings can't be set. However, you can install the package manually and skip the postinstallation script of the package. Since these settings can not be altered anyway this should be safe to do.

[code]

from https://askubuntu.com/questions/482928/

[2017-05-22 18:11] miguelpeixe opened #353 "aufs module on rancher bootscript"
Docker bootscript has aufs configured. Is there a reason why rancher bootscript doesn't?

With current rancher bootscript it runs on overlay2 storage driver, which has performance and other issues.

[2017-05-23 15:26] rstub commented on #293
Has this issue been solved? I am getting the same symptoms with bootscript `x86_64 4.10.8 docker #1`.

[2017-05-23 16:14] rstub commented on #293
Seems like I am seeing another instance of #343.

[2017-05-27 15:42] bunsim commented on #344
Bump; this is a pretty nice feature and there's no reason why TCP BBR could not be integrated.

[2017-05-30 21:02] tsunammis commented on #343
👍  I'm waiting also this fix :)

[2017-05-31 15:01] wizzard0 commented on #334
I confirm that Ubuntu Xenial images both for ARM and x64 do not work :(

[2017-06-07 05:49] DmitriyLyalyuev commented on #334
I confirm that, snaps not working on Xenial x64.
Screenshot of the error: http://joxi.ru/Y2Ll9Q9iR8R126

[2017-06-09 11:41] JesusPerez commented on #343
I am trying to use docker swarm and It looks I can not get IPVS works fine ....

docker.log has:
level=warning msg="Running modprobe ip_vs failed with message: `modprobe: module ip_vs not found in modules.dep`, error: exit status 1"
level=error msg="Failed to write to /proc/sys/net/ipv4/vs/conntrack: open /proc/sys/net/ipv4/vs/conntrack

I am using:
bootscript: x86_64 4.10.8 docker #1 ( is this th

[2017-06-09 16:31] tbillon commented on #343
The `x86_64 4.4.70 std #1` bootscript which address another issue should run Docker fine and has this options enabled. I tried to merge most of the -docker and -apparmor kernels into the -std one.

[2017-06-09 18:49] JesusPerez commented on #343
Many thanks for your answer ... I almost give up !!!
swarm finally works.  I still do not know if it is better to use private or public IPs for the nodes and swarm but both seems to work from outside and ip_vs module is loaded.
It will be nice to know what is different in each bootscript ... or at least what are your criteria to setup that options.
Thanks for your answer and work

[2017-06-11 23:14] jthomaschewski commented on #343
@tbillon The bootscript you mention is not available in AMS1.
Any fix for AMS servers? Thanks.

[2017-06-11 23:31] jthomaschewski commented on #293
Yes, unfortunately its broken again. There seems to be a working bootscript for PAR1 through: `x86_64 4.4.70 std #1`

[2017-06-12 07:35] tbillon commented on #343
I think it is but unfortunately it's only available for x86.

[2017-06-12 17:29] asac opened #357 "not enabled on ubuntu xenial kernel: # CONFIG_NETFILTER_XT_SET is not set"
kinda essential for getting my kubernetes cluster deployed...

Linux ... 4.4.38-std-1 #1 SMP Mon Dec 12 10:45:29 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
# zcat /proc/config.gz  | grep XT_S
# CONFIG_NETFILTER_XT_SET is not set

Note: on my arm C instance the modules are enabled...

[2017-06-14 16:44] peerchemist commented on #334
Confirmed not working on Xenial x86_64.

[2017-06-18 08:14] rmacfie commented on #343
In my case, I need this for when I use the docker-machine driver. Is it possible to adjust which bootscript is used there?

[2017-06-20 16:00] voitylov opened #358 "using perf tools on ARM64"
I'm trying to use "perf" tool on ARM64 node. It seems like PERF_HW_EVENTS (PMU) is disabled in the kernels that are available. Would it be possible to enable PERF_HW_EVENTS in the kernel build and provide "perf" packages in the distribution?

Technically, we checked https://github.com/scaleway/kernel-tools/blob/master/aarch64/4.9.30-std/.config and we could not see this flag.

[2017-06-26 11:54] labe-me commented on #343
Just lost 2 hours trying to find why docker swarm wasn't publishing my ports to the outside :)

Worked with x86_64 4.4.70 std #1 bootscript

[2017-06-29 18:44] Xiretza opened #359 "Enable CONFIG_NFT_MASQ_IPV4 and CONFIG_NFT_CHAIN_NAT_IPV4"
They're required for 'nat' chains in 'ip' tables in `nftables`. The respective IPv6 options are already enabled.

[2017-06-30 15:07] rigred commented on #346
Scaleway, please fix.

This is stupid!

[2017-07-09 13:41] fijam commented on #148
Has any progress been made in the past two years? With  4.9.36-mainline I still get
[code]

which indicates the dts is invalid. Both the old and new CESA drivers are still enabled in config.

It seems all Scaleway needs to do is fix the dts sram memory ranges and enable only the new driver (preferably as a module) in .config. What is taking so long? I've had this working on my development Armada b

[2017-07-11 14:38] intellectronica commented on #334
Not working with Xenial on an amd64 server :(

[2017-07-12 17:38] guillaumedsde commented on #334
Not working either for me, Xenial on x86_64

[2017-07-13 14:33] tbillon commented on #148
We have a kernel that support CESA:
[code]
Do you need extra kernel modules in addition to `CONFIG_CRYPTO_DEV_MARVELL_CESA` and `CONFIG_CRYPTO_USER_API_SKCIPHER` to take advantage of it ?

[2017-07-13 21:45] streaps commented on #346
@scaleway

Why?

[2017-07-13 23:36] streaps commented on #346
Here is some easy to install workaround for Ubuntu

https://github.com/stuffo/scaleway-ubuntukernel/blob/master/ubuntukernel-load.sh

[2017-07-15 08:04] fijam commented on #148
Is that a private kernel? Neither armv7l mainline 4.9.36 nor 4.9.20 longterm work for me, as the required patches from https://github.com/scaleway/kernel-tools/pull/137 were never merged.

Personally I only need `CONFIG_CRYPTO_USER_API_HASH`, `CONFIG_CRYPTO_USER_API_AEAD` and `CONFIG_CRYPTO_USER_API_SKCIPHER` to be enabled.

[2017-07-20 17:46] tbillon commented on #148
CESA support has been added in the 4.4.77 and 4.9.38 kernels. You can update your bootscript if you want to test it. From what I've read, don't expect too much from it.

[2017-07-20 17:54] #148 closed

[2017-07-21 16:12] #352 closed

[2017-07-22 13:44] jimenezrick commented on #359
Yeah, I have the same issue. A few necessary modules are disabled preventing the use of much of nftables functionality:
[code]

[2017-07-22 16:42] javabean opened #362 "Regression: please enable CONFIG_AUFS_XATTR x86_64 kernel config"
CONFIG_AUFS_XATTR kernel config was previously enabled in 4.8.14-docker (x86_64), but it not anymore on newer kernels.
This is needed to use Linux Capabilities in Docker containers.

[2017-07-25 00:49] marcbachmann opened #363 "Rancher bootscript is faulty"
![image](https://user-images.githubusercontent.com/431376/28550691-153e11ae-70e3-11e7-8a81-b108530bd3f4.png)

[2017-07-25 15:48] tbillon commented on #363
It looks like this kernel is missing the Ethernet driver. We tried recently to merge all the old rancher/docker/apparmor kernels into a single one. So can you try one of the latest kernels ?

[2017-07-26 02:59] mwinter-osr opened #364 "mpls_iptunnel.ko for 4.9.20-std-1 arm7 ? (C1 systems)"
I'm trying to find the above `mpls_iptunnel.ko` for the kernel on Scaleway C1 systems.
Google and the scaleway archive`http://mirror.scaleway.com/kernel/armv7l/4.9.20-std-1/modules/4.9.20-std-1/kernel/net/` doesn't find anything.

Any thoughts where this module can be found?

(Background: I'm trying to use the C1 servers for [FRR](http://frrouting.org) testing and need this for the MPLS/LDP tests.

[2017-07-26 07:33] tbillon commented on #364
This module is enable in the 4.4 kernel. You can try the bootscript `armv7l mainline lts 4.4 4.4.77`.

[2017-07-26 10:40] mwinter-osr commented on #364
Good to know, but unfortunately not a solution for me as the MPLS functionality isn't useable for what I need until Kernel 4.5.
Any chance to get this module for 4.9 kernel?

[2017-07-26 11:00] guillaumedsde commented on #334
SOLVED, to anyone looking for a solution, changing the bootscript to 4.9.20 in the scaleway control panel fixes the issue

[2017-07-26 13:58] superseed commented on #362
Hi, this has been fixed in the following bootscripts:
  * x86_64 mainline lts 4.4 4.4.78
  * armv7l mainline lts 4.4 4.4.78
  * aarch64 mainline lts 4.9 4.9.39
  * x86_64 mainline lts 4.9 4.9.39
  * armv7l mainline lts 4.9 4.9.39
  * aarch64 mainline latest 4.11.12
  * x86_64 mainline latest 4.11.12

[2017-07-26 13:59] #362 closed, assigned to nobody

[2017-07-26 15:10] #363 closed, assigned to nobody

[2017-07-27 09:41] marcbachmann commented on #363
Ok. If that bootscript doesn't work for this machine, you should probably warn about that.

Yes, the newer `x86_64 4.10.8 std #1` bootscript doesn't have that issue.
But I can't get the custom image to boot in there. I'm getting that error:
[code]

Check the `'mount /dev/nbd0 /newroot' failed` error.
There are people who have a similar problem, but I guess it's an issue in the image.

[2017-07-27 09:54] #334 closed

[2017-07-27 09:55] tbillon commented on #364
Added to the configuration file. It will be available with the next kernel release.

[2017-07-27 09:55] #364 closed, assigned to nobody

[2017-08-02 13:54] ea2809 commented on #346
Yes please add it, until then have fun....

[2017-08-06 16:42] xtagon commented on #257
I know I'm late to the party but if you all can get Flynn running on Scaleway, please make a blog post, you will be my heroes.

[2017-08-07 20:46] gnh1201 commented on #335
I was apply this solution (use fake cgroup):

Error is solved.
but, result is unlimited loop '[DEBUG][logstash.pipeline] Pushing flush onto pipeline'

output not working. https://github.com/elastic/logstash/issues/7928

[2017-08-08 07:18] tbillon commented on #335
CONFIG_CFS_BANDWIDTH is now enable in all kernels. Please update your bootscript if you need it.

[2017-08-08 07:18] #335 closed

[2017-08-20 17:40] zuzkins commented on #293
I am too unable to get swarm to work on scaleway.
I cannot select the mentioned script `x86_64 4.4.70 std #1` in the dropdown, its just not there anymore? I have par1 and x86_64 arch.

Any other workarounds?

[2017-08-21 09:29] tbillon commented on #293
In order to always have the latest kernels available we're building and deprecating the stable branches automatically (currently only the 4.4 and the 4.9 branches). Kernels in the same branch (ie 4.4, 4.9, etc) use the exact same configuration. So something that works on the 4.4.70 kernel should also work with any following kernel in the same branch.
So you can use the 4.4.83 bootscript and you sh

[2017-08-24 05:13] turbohz commented on #344
Would like to have that option available, if possible.

[2017-08-26 21:34] codejanovic commented on #293
@rstub any news on this topic? got the same problem with **x86_64 4.10.8 docker #1** and docker v17 CE

[2017-08-26 21:58] codejanovic commented on #293
ping @rstub, any news on this topic? experiencing the same with docker image and bootscript `x86_64 4.10.8 docker #1`

[2017-08-27 10:06] rstub commented on #293
From my experience the necessary fixes have been incorporated into the 'std' kernels but not the 'docker' kernels. So using one of the 'std' kernels for docker (swarm) works for me.

[2017-08-28 19:24] codejanovic commented on #293
@rstub is there a problem adding it to the docker kernels? the docker-machine creation of scaleway servers only works with docker images out of the box :-(

[2017-08-28 21:12] rstub commented on #293
That or making the docker-machine tools use the standard kernel sound like plausible solutions. But I am not in the position to say for sure. @tbillon can you comment?

[2017-08-31 09:15] mtrense commented on #343
@tbillon The bootscript "x86_64 4.4.70 std #1" you mentioned seems to be not available anymore. Is there any bootscript currently available that supports docker swarm?

[2017-08-31 09:19] insertjokehere commented on #343
The 4.11 mainline kernel works for me

On Thu, 31 Aug 2017, 9:15 PM Max Trense <notifications@github.com> wrote:

[2017-08-31 09:37] mtrense commented on #343
I've just tested `x86_64 mainline 4.11.12 rev1` on two VC1S instances.
A `docker service create -p 9090:80 --replicas 2 --name test1 nginx:alpine` creates the specified service but the networking between swarms loadbalancer and the service does not work.
The required module `ip_vs_nfct` is also not available for that kernel.

@insertjokehere How did you get swarm to work?

[2017-08-31 11:20] tbillon commented on #343
Try one of the current 4.4 or 4.9 bootscript. Both have `CONFIG_IP_VS_NFCT` enable.

[2017-09-05 07:21] #343 closed

[2017-09-09 10:57] neolectron commented on #293
and to the debian kernels too. your deb9 kernels can't run docker-swarm properly too. :)

[2017-10-07 14:56] raarts commented on #343
This also holds for the latest mainline scripts (I use x86_64 mainline 4.13.5 rev1)

[2017-10-15 14:23] bruno-lopes commented on #293
I changed the bootscript first to 4.10.8 docker, and after to 4.10.8 std, and my swarm doesn't expose its ports correctly. I am unable to access it, even in localhost.

[code]

[code]

Do I need to restart the swarm, or it should work?

[2017-10-25 13:17] superseed commented on #344
Hi, TCP_CONG_BBR is enabled as a module in all mainline bootscripts >= 4.9, i.e. right now:
- (aarch64/armv7l/x86_64) mainline 4.9.58 rev1
- (aarch64/x86_64) mainline 4.13.9 rev1

[2017-10-25 13:17] #344 closed

[2017-10-25 13:21] ghost commented on #344
Thanks you very much

[2017-10-25 13:46] iqyiqy commented on #344
I know It needs to be manually enabled.
echo "net.core.default_qdisc=fq" >> /etc/sysctl.conf
echo "net.ipv4.tcp_congestion_control=bbr" >> /etc/sysctl.conf

[2017-10-25 13:57] ghost commented on #344
Make sure you change your boot kernel to one of above, i choose 4.13.9 rev1.

[code]

[2017-10-25 14:47] habib-the-sweet commented on #297
I have successfully installed ZFS C2M with 4.4.94-mainline-rev1 kernel
First: `apt-get install build-essential libssl-dev`

Then, run the script from the article https://github.com/scaleway/kernel-tools#how-to-build-a-custom-kernel-module

Afrter that:
[code]

[2017-10-25 14:47] habib-the-sweet commented on #346
I have successfully installed ZFS C2M with 4.4.94-mainline-rev1 kernel
First: `apt-get install build-essential libssl-dev`

Then, run the script from the article https://github.com/scaleway/kernel-tools#how-to-build-a-custom-kernel-module

Afrter that:
[code]

[2017-10-25 16:45] simos commented on #346
@habib-the-sweet : For the x86 VPS systems at Scaleway, the instructions are rather straightforward (https://blog.simos.info/how-to-install-lxd-containers-on-ubuntu-on-scaleway/).

For the ARM systems, they are more involved, https://blog.simos.info/a-closer-look-at-the-new-arm64-scaleway-servers-and-lxd/

In both cases, if you want to upgrade the kernel, you can end up with downtime of several ho

[2017-11-03 12:06] tcarrondo commented on #334
the problem presists

[2017-11-03 12:18] guillaumedsde commented on #334
@tcarrondo try different bootscripts (preferably more recent ones, that will probably solve the problem)

In fact I found that updating the bootscript solved many issues, notably using SHA512 on OpenVPN on an old bootscript was unbearably slow, updating the bootscript solved it for me

[2017-11-03 12:30] tcarrondo commented on #334
I've already tried all of them

[2017-11-03 16:08] lwandrebeck opened #366 "# CONFIG_TRANSPARENT_HUGEPAGE is not set"
Hi,

Could you consider enabling CONFIG_TRANSPARENT_HUGEPAGE ?

It’ll be a (free) perf gain for a couple apps. AFAIK, that should not have any consequence on virt, but I’m no kernel hacker.

Thanks !

[2017-11-08 23:14] lunarthegrey opened #367 "No TUN/TAP kernel module?"
It seems like the TUN/TAP kernel module is missing from a lot of, or most of the Scaleway kernels. Has anyone else noticed this? So far I've found no module in these kernels for VC1S:

[code]

depmod -a, nothing. modprobe tun, nothing. lsmod, nothing. Grepping for the actual .ko returns nothing as well.

[code]

So I'm pretty sure it doesn't exist. But why? I hope this is added ASAP. If anyone kno

[2017-11-14 09:30] superseed commented on #367
CONFIG_TUN is enabled in all `mainline` bootscripts, it's only loaded as a module on ARM though. `zcat /proc/config.gz | grep "CONFIG_TUN"` will confirm that.

[2017-11-14 09:30] #367 closed, assigned to nobody

[2017-11-19 18:34] darklow commented on #293
Just tried creating swarm nodes using latest `x86_64 4.10.8 docker #1` bootscript:
And see same errors:
[code]
Anyone got solutions? Thanks.
Currently no way to run docker swarm on ScaleWay :(

[2017-11-20 10:13] tbillon commented on #293
Can you try to run one of the main line kernels instead of the docker one ? They should include all you need.

[2017-11-20 18:12] darklow commented on #293
@tbillon I tried all the possible combinations, but with no luck, while I tried same swarm setup on Linode and it worked from the first time (after I changed their kernel to GRUB2).

On ScaleWay I tried using two instances of Ubuntu Xenial. One on Amsterdam and 1x on Paris (to increase availability) also tried using stable docker and edge version (v17.10.0-ce)

With default kernel `x86_64 mainline

[2017-11-26 22:48] metal3d commented on #292
And when will you activate SELinux options for CentOS please ?

[2017-11-28 07:24] develar commented on #293
The same for me :(

[2017-11-28 07:49] develar commented on #343
4.10.8 docker doesn't work. Why closed?

[2017-11-28 07:51] develar commented on #343
x86_64 mainline 4.9.64 rev1 works. It seems finally I can run my server on Scaleway.

[2017-11-28 08:09] tboerger commented on #343
Latest bootscripts got it disabled again :(

Edit: Was referring to the docker bootscript.

[2017-11-28 09:47] tbillon commented on #343
No, it's still here. Look into the `/proc/config.gz` file.
[code]

[2017-11-28 10:47] tboerger commented on #343
The mainline kernel works as expected.

[2017-12-02 17:23] lunarthegrey commented on #367
@superseed When you say only loaded as a module on ARM. Does that mean I can't load it on x86_64? Because I can't seem to get it to work on x86_64.

If that's the case, can you add support for x86_64 and all the other architectures on Scaleway?

[2017-12-05 11:50] arrfab opened #368 "Selinux not working with provided kernels"
Hi,

I initially opened a proper ticket with Scaleway, but I was answered this :
"Please be aware that we do not provide support regarding available kernels.
I would suggest getting in touch with our developers directly through GitHub if needed, as they are the only ones in charge regarding kernels."

So here we go !

When booting various provided kernels on aarch64 nodes, selinux is disabled, and

[2017-12-05 13:00] superseed commented on #367
I mean it's enabled as a kernel built-in on all other arch (x86_64, arm64): you'll only find it through `lsmod` and in `/lib/modules` on arm. But it's always enabled in the mainline bootscripts.

You can always check `/proc/config.gz` as shown above.

[2017-12-05 18:35] arrfab commented on #368
Just to add that I also provisioned a C2 / x86_64 instance and same issue : selinux is Disabled

[2017-12-06 13:21] Sovetnikov commented on #293
This issue still exists. Docker swarm cant expose ports to outside network (publish in terms of docker swarm) and inter service communication is broken.

Docker 17.09.0-ce with 4.10.8-docker-1 x86_64

Logs:
Dec 06 13:08:56 jack-files1 dockerd[5190]: time="2017-12-06T13:08:56Z" level=error msg="Failed to write to /proc/sys/net/ipv4/vs/conntrack: open /proc/sys/net/ipv4/vs/conntrack: no such file or

[2017-12-06 13:27] develar commented on #293
@Sovetnikov I have realised that Vultr 20$ works faster than Scaleway 14$ (C2S), and Vultr is stable, with ipxe/custom iso support, without any such pitfalls and numerous Scaleway issues. https://github.com/electron-userland/electron-build-service/blob/master/cloud-hosting-choice.md

[2017-12-06 13:37] Sovetnikov commented on #293
"x86_64 mainline 4.9.66 rev1" bootscript works finally

[2017-12-06 15:40] arrfab commented on #368
Just to mention (in case people read this bug report) that it's a known issue : https://github.com/scaleway/image-centos/issues/19

For aarch64 there is still no workaround, but for x86_64, one can :
- boot with normal bootscript/kernel
- modify /etc/sysconfig/selinux (to put it in permissive)
- touch /.autorelabel
- modify bootscript to use *fedora* kernel
- systemctl reboot

after a reboot, one

[2017-12-12 01:47] agustinvinao opened #369 "Unable to locate package linux-headers-4.10.8-std-1 / linux-headers-4.4.38-std-1"
Im following the guide on https://github.com/scaleway/kernel-tools#how-to-build-a-custom-kernel-module with both version of the bootscript (4.4.38 and 4.10.8), when I try to install the new headers I got

[code]

How can I install the new headers?

Im trying to install  new headers to install wireguard.

With both versions of bootscript I got

[code]

when I try to run wireguard.

`Unable to get d

[2017-12-18 15:17] hvenev opened #370 "Make building custom kernel modules easier"
The whole uncompressed kernel source is more than 700 MB, and extracting it takes a while. We can do something similar to what is done in distributions like Debian and Fedora.

The idea is to take all headers, the config, and a few build results from `make prepare modules_prepare`. The resulting directory is much smaller. I successfully built wireguard using dkms on x86_64 using a 52 MB directory

[2017-12-25 20:05] nado commented on #338
I met this issue on the gentoo image, C1 machine too, it is impossible to get a certificate with certbot due to this problem. Ask me anything, I’ll try to provide all the details.

[2017-12-31 15:53] ticruz38 commented on #257
I followed these steps without errors

but get that error

[code]

seems like zfs hasn't been installed at all

--Edited--

Could install Flynn by using Ubuntu 14.04 and installing `apt-get install ubuntu-zfs`
Then commenting out the zfs install lines (153 - 170) in the Flynn installation script.
running the custom installation script

Probably the easiest way to install flynn on scaleway.

[2018-01-05 13:12] caseycs opened #371 "ZFS kernel module failed to install on latest bootscripts"
Hi!

I'm trying to switch to new bootscripts, so I tried both `x86_64 mainline 4.14.11 rev1` and `x86_64 4.10.8 std #1`

However on each of them I could not install zfs kernel module:

[code]

Also I can't rollback to the previous bootscript, so currently ma machine got stuck.

I'm sure that same script worked perfectly before, maybe something is broken only for latest bootscripts?

[2018-01-06 12:24] caseycs commented on #371
Same problem still exists with `4.14.12-mainline-rev1`

[2018-01-06 14:47] caseycs commented on #371
Turned out to be spl/kernel incompatibility. The only way I could make it work it `4.10.8-std-1` bootscript with Ubuntu 18.

[2018-01-09 16:20] starlilyth commented on #368
Scaleway images have been altered to prevent SELinux from being enabled:
[code]
Specifically: CONFIG_SECURITY_SELINUX_DISABLE=y

[2018-01-09 16:28] arrfab commented on #368
But the question is : "why ?" as there is no way to modify bootscripts to enable it, what's the proper solution  ? I checked the 4.9.75 LTS kernel built to fix meltdown/spectre and it has the same problem again

[2018-01-09 16:31] starlilyth commented on #368
So far my responses from Scaleway support are full denial of making the alteration. Not a great first impression when the evidence is so plainly available.

[2018-01-11 08:27] sebastiendarocha commented on #293
@Sovetnikov thanks, I had the same problem. I changed to bootscript "x86_64 mainline 4.9.76 rev1" and a reboot fixed my Swarm.

[2018-01-11 19:53] Canisaur commented on #368
I'm not sure what's preventing you from using SELinux, but a quick search shows that CONFIG_SECURITY_SELINUX_DISABLE is not the problem.  That config simply adds the _option_ to disable SELinux at runtime.

See https://cateee.net/lkddb/web-lkddb/SECURITY_SELINUX_DISABLE.html and https://github.com/torvalds/linux/tree/master/security/selinux/Kconfig

[2018-01-11 20:04] starlilyth commented on #368
Then I am not sure either, but as a 20 year RHCE I am pretty positive I am attempting to enable it correctly, as are many others who are also unable to turn it on successfully.
It is well documented and quite simple, and it does not work on Scaleway images. It is not a lack of understanding on my or anyone elses part; these images are incapable of using SELinux.

If you have a better understanding

[2018-01-11 20:38] Canisaur commented on #368
Does the default image have SELinux disabled in /etc/sysconfig/selinux?  If so, since the kernel provides the option to _disable_ (but not enable) SELinux at runtime via this flag, it seems like a solution to make everyone happy is:

1. Scaleway changes CONFIG_SECURITY_SELINUX_BOOTPARAM_VALUE to 1.
2. Scaleway changes their default images so that they write to the selinuxfs node 'disable' via /sbi

[2018-01-11 21:10] arrfab commented on #368
That's also where I have a big issue with all this : providing a unique kernel and claim to the whole world that it's a distro is in fact also lying to to users .. but that's a different story.
As the user itself has no way to modify the boot nor alter/change kernel parameters, user is stuck not in a configuration he dediced, but the one imposed by someone at Scaleway ...

Still waiting for Scalew

[2018-01-16 17:15] talaurax commented on #293
Same here, any rollback?

[2018-01-16 19:55] nilskp commented on #150
@moul has this been abandoned?

[2018-01-16 20:56] maufl commented on #150
I know it's not on topic but I would start using a C2 or Virtual instance right now if it had proper IPv6 support (i.e. an IPv6 address that does not change after reboot).

[2018-01-17 20:29] yangm97 commented on #293
I’m having issues with swarm networking too. Changing the bootscript did not fix the issue.

[2018-01-17 20:41] yangm97 opened #372 "Docker swarm mesh networking not working"
The only relevant log I could find on docker was `Jan 17 20:37:33 scw-f118f1 dockerd[3495]: time=“2018-01-17T20:37:33.047047682Z” level=error msg=“Failed to deserialize netlink ndmsg: Link not found"`

Steps to reproduce:
- init a swarm
- join on scaleway node
- deploy something like docker service create \
   --name my-web \
   --publish published=8080,target=80 \
   --replicas 1 \
   nginx
- try

[2018-01-18 07:42] sebastiendarocha commented on #293
@yangm97 if one of your servers is behind nat, you also have to use the parameter "--advertise-addr my_public_ip" when you init/join the swarm.

[2018-01-18 07:45] yangm97 commented on #293
My other servers can talk to each other well, I’m using the default security group on scaleway, which allows all inbound traffic. Still, already used the `--advertise-addr` flag, with no success. Tried on alpine and ubuntu, tried various bootscripts, still the same problem. Opened a new issue #372.

[2018-01-21 18:26] talaurax commented on #293
@sebastiendarocha +1 solved. missing kernel modules.

[2018-01-31 15:09] lotrdocker opened #373 "Enable modules for HAMRADIO in armv7l kernel"
Hi,

Would it be possible to enable this various kernel modules ?
 - CONFIG_HAMRADIO=y
 - CONFIG_AX25=y
 - CONFIG_AX25_DAMA_SLAVE=y
 - CONFIG_NETROM=y
 - CONFIG_MKISS=y

Regards

[2018-02-02 15:25] lotrdocker commented on #373
Not needed anymore.

Regards.

[2018-02-02 15:25] #373 closed, assigned to nobody

[2018-02-04 22:52] Vad1mo commented on #372
what kernel do you use?  I head no problem running swarm make sure you have the right kernel you can google for kubernetes/scaleway. Same kernel recommendations apply to swarm.

[2018-02-08 18:49] yangm97 commented on #372
@Vad1mo I tried most of the available kernels, same results every time.

[2018-02-08 18:51] Vad1mo commented on #372
What's actually not working? What is the error message?

I had Swarm running without any problems a few months ago.

[2018-02-09 15:26] yangm97 commented on #372
https://docs.docker.com/engine/swarm/ingress/#publish-a-port-for-a-service

Suppose the scaleway node is in the same situation as node3, it should forward the requests to a node running the published service. What happens is some error in the communication between nodes and the client connection times out.

[2018-02-09 15:46] Vad1mo commented on #372
when setting up swarm mode you should use the private IP address not the public ones.

[2018-02-09 15:50] yangm97 commented on #372
You do need to use the public IP when your cluster is located on more than one datacenter. In my case, I set up a swarm between amazon, azure and scaleway instances. Communication between amazon and azure nodes went just fine.

[2018-02-09 15:52] Vad1mo commented on #372
yes because scaleway public IPs are NAT to private instance. This is a different to AWS/Azure. This might be the problem.

[2018-02-09 15:58] yangm97 commented on #372
They all use NAT. And I disabled all the three firewalls.

When running nmap, I found something interesting: while amazon and azure nodes would always keep the communication port open, the scaleway node would inconsistently open and close said port. Actually, you might be able to get some traffic a few moments after restarting, but the port will shut closed soon enough.

[2018-02-09 16:01] Vad1mo commented on #372
do you see why the connection is closed? Any message/status code? HTTP or TCP level?

[2018-02-09 16:04] yangm97 commented on #372
I might have overlooked it, but the only message I saw on the docker daemon which could be relevant was the single line on the op. Now I regret not dumping the full log, as I already teared down this setup (but would bring up again if needed).

[2018-02-13 06:45] doublemcz commented on #372
+1
I am not even in any cloud - We have hosted private cluster and nodes has been joined over private network  (not any NAT)

[2018-02-15 19:30] gitpushdev commented on #334
Had same issue on an instance created today, solved by using this bootscript: x86_64 4.10.8 apparmor #1

[2018-02-18 08:47] lheckemann commented on #150
Keep trying and failing to deploy a C1 because you're out of IPv4 addresses apparently… It's a bit of a pain having to SSH through an existing one.

[2018-02-23 05:52] buckle2000 commented on #346
Still no ZFS...

[2018-02-23 13:59] simos commented on #346
Scaleway supports CONFIG_KEXEC on the x86 servers, which means that it is feasible to boot the Ubuntu Linux kernel, once the VPS/server is up and running.
The process is somewhat involved, and I could not find any official documentation.

I looked into posts that managed to get it working, and wrote it up on my blog,
https://blog.simos.info/how-to-run-the-stock-ubuntu-linux-kernel-on-scaleway-usin

[2018-02-23 14:01] simos commented on #371
A workaround is to KEXEC the Ubuntu Linux kernel. See
https://blog.simos.info/how-to-run-the-stock-ubuntu-linux-kernel-on-scaleway-using-kexec-and-server-tags/

I managed to manually compile ZFS from upstream, but it was too fragile to trust it.

[2018-02-23 14:05] simos commented on #348
I checked and it is enabled now.

However, it is of little use because you have to compile the kernel yourself and cannot use a distro ARM64 kernel (tried with Ubuntu's).

If someone wants to try to get a kernel booted with KEXEC on ARM64, you may find the following helpful (this is for x86),
https://blog.simos.info/how-to-run-the-stock-ubuntu-linux-kernel-on-scaleway-using-kexec-and-server-tags/

[2018-03-05 13:53] piec commented on #372
Apparently the issue is the kernel conf of the default images, there are missing modules that are needed for the overlay network. The `“Failed to deserialize netlink ndmsg: Link not found"` is unrelated
See:
* https://github.com/moby/moby/issues/28168#issuecomment-259202309
* https://adminswerk.de/docker-swarm-scaleway/
* https://github.com/scaleway/image-ubuntu/issues/78

[2018-03-11 01:05] r3pek commented on #372
having exactly the same problem service ports are not published.
Using the private IP also isn't ideal since if you reboot your server, you kill the swarm because the IP address get's changed. EDIT: (or poweroff / poweron)

[2018-03-11 01:14] r3pek commented on #372
BTW, to fix the network issue I had to change the bootscript to the 4.15.* one. The one with "Docker" in the name didn't work.

[2018-03-12 09:46] Gu1nness opened #374 "asni_intel module not present on VC1S"
On my VC1S server, the asni_intel module is listed in the /proc/config.gz file, but is not present :
[code]

and
[code]

and

[code]

The CPU is aesni-enabled
[code]

I think that the module is missing by error (especially since https://github.com/scaleway/kernel-tools/issues/259 had added it)

Would it be possible to add it back ?

[2018-03-16 11:48] voobscout opened #375 "wireguard kernel module"
please add wireguard to all kernel versions

[2018-04-05 18:11] nlienard opened #376 "CONFIG_CHECKPOINT_RESTORE"
Is it possible to have CONFIG_CHECKPOINT_RESTORE=y in the current kernel on VPS SCALEWAY (VC1L for instance) ?

Currently due to this lack, CRIU is not working and we can't use LXD live Migration.

[code]
thanks

[2018-04-12 06:53] Jaysojitra13 commented on #257
When I tried to install any new package in ubuntu,
"E: The package software-properties-gtk needs to be reinstalled, but I can't find an archive for it.",
this error is occurred.

Please help me to solve this problem.
Thanks

[2018-04-23 08:32] MasterGroosha commented on #150
So, it is possible to have proper IPv6 support on VC1S? It seems that my v6 gateway is reachable, but not my server.

[code]

[2018-04-23 08:40] romanrm commented on #150
It was always possible to have IPv6 support on VC1S (the VPS). This issue is about the C1 (ARM dedicated server). To solve issue with your server create a support ticket instead of spamming unrelated github issues.

[2018-04-24 17:28] stayen opened #377 "No TUN module (ARM C1 server)"
I was advised to use mainline bootscripts, to make use of TUN. However, 4.4.127 failed to boot with Ubuntu 14.04, and 4.9.93 seems to lack TUN support:

    # ls /lib/modules/4.9.93-mainline-rev1/kernel/drivers/net | grep tun
    # modprobe tun
    # lsmod
        Module                  Size  Used by
    #

Is TUN module actually supported for C1 kernels?

[2018-05-16 09:42] michael-bouvy commented on #371
@caseycs Ilia, how did you manage to get it work with this bootscript? SPL module compile fails on my server. Thanks!

[2018-05-16 11:51] caseycs commented on #371
@michael-bouvy to be honest I gave up with zfs on scaleway few months ago, turned out to be too much hassle.

[2018-05-16 12:10] michael-bouvy commented on #371
@caseycs thanks! Did you use LVM or other alternative?

[2018-05-16 12:13] caseycs commented on #371
@michael-bouvy initially I was using zfs for both lxd and docker containers, however I migrated completely to docker, so have no need to lxd anymore. Do not have any performance issues with native built-in docker fs driver.

[2018-05-16 12:15] michael-bouvy commented on #371
@caseycs ok, I'll have to find another way to be able to do snapshots of my LXC volumes

[2018-06-03 09:27] Johannestegner commented on #372
Tested all bootscripts available for the paris start1-xs instances. None will allow me to use swarm. It connects to the swarm, but none of the containers are reachable from any other node. I don't have this issue with any other of my swarm nodes.

Will this be fixed anytime? Because without swarm, the server is sadly useless to me.

[2018-06-29 09:36] 0xFEEDC0DE64 commented on #317
problem still lasts, any way to fix this quickly?

[2018-07-02 07:46] CedricCabessa commented on #317
raid is compiled in the kernel

[code]

[2018-07-02 18:23] shawnl commented on #375
or give a way of building dkms modules

[2018-07-03 17:08] shawnl commented on #370
The kernel modules are already copied into the images automatically. This should be copied into the images as well.

[2018-07-04 17:25] flolivaud commented on #372
Same problem here. Trying to change the bootscript don't work. Anyone has a fix ?

[2018-07-05 04:21] shawnl commented on #375
I successfully built the dkms module by running the commands here (which download the kernel source) https://github.com/scaleway/kernel-tools and THEN installing the dkms package https://packages.debian.org/sid/wireguard-dkms

[2018-07-05 04:39] thamizhelango commented on #375
@shawnl , Can you please let me know the steps to istall https://packages.debian.org/sid/wireguard-dkms

[2018-07-05 04:47] shawnl commented on #375
@thamizhelango that is for debian. if you are not on debian install  using the instructions here https://www.wireguard.com/install/

(after installing the kernel headers with the instructions here https://github.com/scaleway/kernel-tools )

[2018-07-05 04:49] thamizhelango commented on #375
Thanks @shawnl

[2018-07-12 21:13] irsl opened #378 "How to boot a kernel with different cmdline?"
Hi,

I need cgroup_enable=memory swapaccount=1 parameters added to my kernel command line arguments so that I could better limit memory consumption of my Docker containers.
I was googleing around but couldn't find any articles describing the proper way of accomplishing this with a Scaleway baremetal server.

If you could give me a hint, I'd appreciate it.

[2018-07-13 06:33] irsl commented on #378
So, by reading the initrd source code, I guess something like the following server tags should do the work (I didn't have the time to test it yet):

KEXEC_KERNEL=latest
KEXEC_INITRD=http://169.254.42.24/initrd/initrd-Linux-x86_64-v3.12.7.gz KEXEC_APPEND="cgroup_enable=memory swapaccount=1"

The initrd url is coming from scw-metadata.

[2018-07-15 10:16] irsl commented on #378
Had chance to experiment with it today. I learned:

The feature I was looking for is enabled by default on the bootscript/kernel combo (x86_64-mainline-lts-4.9-4.9.93-rev1) the SCW system assigned to me, without the need to specify anything explicitly at command line.

The approach above works, but the latest keyword at the kernel tag boots a vanilla OS kernel which did not recognize the ethernet

[2018-07-20 13:50] souhaiebtar commented on #343
as of june 2018 in ubuntu 16.04, default config, only choosing the server range (in amsterdam by the way), docker swarm does not work, to make it work you have to change the bootscript, for me "x86_64 mainline 4.9.93 rev1" worked, but to be able to change the bootscript you have to disable `enable boot mode` under advanced, after disabling it and creating the server, bootscript will now show, and

[2018-07-20 14:26] saelm95 opened #379 "apt-get fails postinst tasks on upgrade/install"
Hi,

Whenever I try to do an apt upgrade or install, it goes into a postinst error while trying to upgrade the kernel, even though I don't understand why it would try to do that, since Scaleway staff told me that the kernel can't be upgraded. I have tried this on both Bionic Beaver (18.04) and Xenial Xerxus (16.04), both producing the same result.

The part it shows me when updating (apt -y dist-u

[2018-07-22 14:06] Nomuas commented on #375
So easy if it was automatically added by scaleway...

[2018-08-04 06:10] debianmaster commented on #368
im seeing same issue, what is the fix?

[2018-08-26 16:05] bbichero opened #380 "BareMetal server unusable after installing linux header"
Hi,
Today I wanted to install wireguard on others server than Basic Start servers.
So after following [Kernel-tool](https://github.com/scaleway/kernel-tools#how-to-build-a-custom-kernel-module) guide to install new kernel headers, I installed wireguard with the [official installation steps](https://www.wireguard.com/install/) .
When installation was finished I restarted my BareMetal server, and af

[2018-08-31 15:35] BonBonSlick commented on #283
Same

[2018-09-13 09:57] 3ruce commented on #371
It seems that the Start range doesn't have these kernel problems and a conventional ZFS install works fine...

[2018-10-23 12:31] CertainLach commented on #367
@superseed
There is no tun/tap module in `lsmod` or in `/lib/modules`:
[code]
[code]
But yes, module is enabled in /proc/config.gz
[code]

[2018-11-02 17:36] xifi-kif commented on #346
still nothing...

[2018-11-17 10:40] aminehmida commented on #208
I am trying to build WireGuard for `4.15.0-33-generic` on ubuntu 18.04.
Still getting `404: Not Found.` when running the script from `README`

[2018-11-17 10:58] zx2c4 commented on #208
If you're using an Ubuntu kernel, just follow the directions on wireguard.com/install/ .

[2018-12-10 19:01] zar3bski commented on #380
Looks like they are using custom Debians to me. I am struggling with a similar mess (unmatching headers). How did it end?

[2018-12-11 00:59] bbichero commented on #380
It's not a custom debian.
it never end :( I abandon the idea to install custom module on basic start servers.
It work perfectly on the start server. So wait for a fix or an answer from scaleway is the best solution.

[2018-12-13 18:05] zar3bski commented on #380
I posted a ticket about it. Keep in touch

[2018-12-18 11:50] simos commented on #346
@xifi-kif If you launch a new Scaleway server, then it will use the official stock Ubuntu Linux kernel and everything works fine.

[2018-12-18 11:52] simos commented on #371
@3ruce Scaleway have fixed their images and now they use the stock Ubuntu Linux kernel, which has built-in ZFS support. The issue is that you need to launch a new VPS.

[2018-12-20 02:18] #371 closed, assigned to nobody

[2019-02-03 18:50] lauevrar77 commented on #372
I have the same issue with Docker installed as one click app and previously with Docker installed on Debian. The version of Docker is 18.09.

I have one manager and 3 workers.
My manager and two of the workers are in par1 zone. The last worker is an OVH server.

I created the swarm using this command :
`docker swarm init --advertise-addr public_ip`.

Then all the workers joined the swarm with this

[2019-02-06 20:26] flolivaud commented on #372
@lauevrar77 never find any fix for this issue, and i think actually scaleway don't care about docker swarm, they try to promote kubernetes instead.

[2019-02-26 16:05] luisfavila commented on #372
Same here @lauevrar77. I moved to Hetzner cloud, everything working flawlessly.

[2019-03-04 08:00] xifi-kif commented on #150
Still no news about IPv6 for C1?

[2019-07-16 23:36] salahkhiat commented on #297
help me guys .. i have a problem in zfs in parrot os , its show me this error message :

 ● zfs-mount.service - Mount ZFS filesystems
   Loaded: loaded (/lib/systemd/system/zfs-mount.service; enabled; vendor preset: enabled)
   Active: failed (Result: exit-code) since Wed 2019-07-17 00:29:35 EDT; 17ms ago
     Docs: man:zfs(8)
  Process: 28738 ExecStart=/sbin/zfs mount -a (code=exited, status=1/FA

[2019-10-05 11:26] mastertheknife commented on #150
I would also like that on my C1 instance.
There has been no update from @moul in the last 3 years, as if they dropped the ball on this.
At the very least, give us an update, so we can know what to expect and react accordingly.

[2019-10-15 14:06] wc-matteo commented on #372
same here :'(

[2019-12-04 08:41] lostnet commented on #346
@simos I just launched a scaleway C2 server and it has only mainline kernels as bootscript choices. The ubuntu kernel  is physically present and could theoretically be kexec'd but as per your blog entry above, this is apparently not ok on baremetal without a process to modify the initramfs etc for nbd..

[2019-12-04 13:20] simos commented on #346
@lostnet  I just launched a Scaleway C2S server (Atom CPU) with Ubuntu 18.04. Indeed, the default Linux kernel is
[code]

There is no bootscript to choose an Ubuntu Linux kernel, therefore there is no effortless way to setup ZFS.

My view is that those C2 baremetal servers are likely to be phased out and they are not being updated.
I do not see them at the [Scaleway baremetal server page](https://

[2019-12-04 14:25] lostnet commented on #346
@simos The newer baremetal offering GP-BM1-M (as opposed to the region integrated C1/C2 baremetal instances) seem to use real ubuntu kernels but defaults to ext4, so I was able to put a pool on one of the drives and do a non-root mount of a dataset. This offering aside from being only large/expensive instances doesn't work with flexible ips, etc, so its more like an upgrade transition for the olde

[2019-12-04 15:12] simos commented on #346
@lostnet Thanks, I updated the original description of this issue.
I am not closing this issue as long as the C2 baremetal servers are available by Scaleway, and they are not using the Ubuntu Linux kernels for their Ubuntu images.

[2020-04-26 14:15] #369 closed, assigned to nobody

[2021-09-08 22:33] cen1 opened #381 "Provide bootscript for Debian 11 - Bullseye"
I accidentally updated to Debian 11 not noticing that there is no 5.10 kernel bootscript available. So now I am running Bullseye on an older kernel. While most things are working, docker is broken for example. Hopefully this can be provided as soon as possible seeing that Bullseye is already available for new instance creation.

[2021-09-08 23:16] NoSuchCommand commented on #381
@cen1
Just out of curiosity, which instance type are we talking about here ?

[2021-09-09 12:35] cen1 commented on #381
My instance type is VC1M

[2021-09-09 14:52] NoSuchCommand commented on #381
I suggest that you open a support ticket at https://console.scaleway.com/support/tickets so the issue can be tracked properly. Do not forget to mention the ID of your instance.

[2021-09-09 19:33] cen1 commented on #381
Support redirected me to feature requests tracker so I opened it there https://feature-request.scaleway.com/posts/200/provide-bootscript-for-kernel-5-10-with-debian-bullseye

[2021-09-09 19:33] #381 closed, assigned to nobody